Repository huggingface/transformers, pull requests merged in 2020-07, with the labels that each got.

#5400 Create model card for schmidek/electra-small-cased
  model_cards/schmidek/electra-small-cased/README.md
Labels: model card

#5422 Create README.md
  model_cards/MoseliMotsoehli/TswanaBert/README.md
Labels: model card

#5432 Create model card
  model_cards/mrm8488/electra-base-finetuned-squadv1/README.md
Labels: model card

#5464 Create model card
  model_cards/mrm8488/electra-small-finetuned-squadv2/README.md
Labels: model card

#5456 Add description of required special symbols
  model_cards/chrisliu298/arxiv_ai_gpt2/README.md
Labels: model card

#5448 grammar corrections and train data update
  model_cards/MoseliMotsoehli/TswanaBert/README.md
Labels: model card

#5396 Create model card
  model_cards/mrm8488/electricidad-small-finetuned-squadv1-es/README.md
Labels: model card

#5479 Exposing prepare_for_model for both slow & fast tokenizers
  src/transformers/tokenization_utils.py
  src/transformers/tokenization_utils_base.py
  tests/test_tokenization_common.py
  tests/test_tokenization_fast.py
Labels: Core: Tokenization

#5523 Create model card
  model_cards/mrm8488/roberta-base-1B-1-finetuned-squadv2/README.md
Labels: model card

#5536 Create README
  model_cards/MoseliMotsoehli/zuBERTa/README.md
Labels: model card

#5515 Create model card
  model_cards/mrm8488/roberta-base-1B-1-finetuned-squadv1/README.md
Labels: model card

#5514 added model card for ukr-roberta-base
  model_cards/youscan/ukr-roberta-base/README.md
Labels: model card

#5430 Create model card
  model_cards/mrm8488/electra-small-finetuned-squadv1/README.md
Labels: model card

#5493 Create README.md
  model_cards/savasy/bert-turkish-text-classification/README.md
Labels: model card

#5492 Update README.md
  model_cards/savasy/bert-base-turkish-ner-cased/README.md
Labels: model card

#5491 Update README.md
  model_cards/savasy/bert-base-turkish-sentiment-cased/README.md
Labels: model card

#5129 Add mbart-large-cc25, support translation finetuning
  docs/source/model_doc/bart.rst
  examples/longform-qa/eli5_app.py
  examples/seq2seq/README.md
  examples/seq2seq/finetune.py
  examples/seq2seq/finetune_t5.sh
  examples/seq2seq/test_seq2seq_examples.py
  examples/seq2seq/train_mbart_cc25_enro.sh
  examples/seq2seq/utils.py
  setup.cfg
  src/transformers/tokenization_bart.py
  tests/test_modeling_bart.py
  tests/test_modeling_mbart.py
  tests/test_tokenization_common.py
  tests/test_tokenization_mbart.py
Labels: seq2seq, translation

#5601 Create README.md
  model_cards/bashar-talafha/multi-dialect-bert-base-arabic/README.md
Labels: model card

#5610 create model cards for qg models
  model_cards/valhalla/t5-base-e2e-qg/README.md
  model_cards/valhalla/t5-base-qa-qg-hl/README.md
  model_cards/valhalla/t5-base-qg-hl/README.md
  model_cards/valhalla/t5-samll-qg-prepend/README.md
  model_cards/valhalla/t5-small-e2e-qg/README.md
  model_cards/valhalla/t5-small-qa-qg-hl/README.md
  model_cards/valhalla/t5-small-qg-hl/README.md
Labels: model card

#5599 Add newly trained `calbert-tiny-uncased`
  model_cards/codegram/calbert-tiny-uncased/README.md
Labels: model card

#5652 Create README.md - Model card for sentence-transformers/bert-base-nli-mean-tokens
  model_cards/sentence-transformers/bert-base-nli-mean-tokens/README.md
Labels: model card

#5661 Create Model card for RoBERTa-hindi-guj-san
  model_cards/surajp/RoBERTa-hindi-guj-san/README.md
Labels: model card

#5658 Create README.md - Model card
  model_cards/sentence-transformers/bert-base-nli-max-tokens/README.md
Labels: model card

#5657 Create README.md - Model card
  model_cards/sentence-transformers/bert-base-nli-cls-token/README.md
Labels: model card

#5655 Create model card
  model_cards/mrm8488/t5-small-finetuned-squadv2/README.md
Labels: model card

#5638 Create README.md
  model_cards/mrm8488/t5-small-finetuned-squadv1/README.md
Labels: model card

#5621 Add freshly trained `codegram/calbert-base-uncased`
  model_cards/codegram/calbert-base-uncased/README.md
Labels: model card

#5574 Create README.md for electra-base-squad2
  model_cards/deepset/electra-base-squad2/README.md
Labels: model card

#5572 Create README.md
  model_cards/mrm8488/umberto-wikipedia-uncased-v1-finetuned-squadv1-it/README.md
Labels: model card

#5617 Update README.md
  model_cards/bashar-talafha/multi-dialect-bert-base-arabic/README.md
Labels: model card

#5683 Add Microsoft's CodeBERT
  model_cards/microsoft/codebert-base-mlm/README.md
  model_cards/microsoft/codebert-base/README.md
Labels: model card

#5672 Added first description of the model
  model_cards/gilf/french-postag-model/README.md
Labels: model card

#5744 Create README.md for the model card of GPorTuguese-2 model (Portuguese GPT-2 small)
  model_cards/pierreguillou/gpt2-small-portuguese/README.md
Labels: model card

#5735 Create README.md (Model card for Norod78/hewiki-articles-distilGPT2py-il)
  model_cards/Norod78/hewiki-articles-distilGPT2py-il/README.md
Labels: model card

#5698 Create README.md
  model_cards/cimm-kzn/rudr-bert/README.md
Labels: model card

#5743 Customize inference widget input
  model_cards/mrm8488/RuPERTa-base/README.md
Labels: model card

#5696 Update README.md
  model_cards/bashar-talafha/multi-dialect-bert-base-arabic/README.md
Labels: model card

#5752 Update README.md
  model_cards/bashar-talafha/multi-dialect-bert-base-arabic/README.md
Labels: model card

#5761 [cleanup] T5 test, warnings
  examples/seq2seq/run_eval.py
  examples/seq2seq/utils.py
  tests/test_modeling_t5.py
Labels: cleanup

#5758 metadata
  model_cards/pierreguillou/gpt2-small-portuguese/README.md
Labels: model card

#5782 Create README.md
  model_cards/mrm8488/RoBERTinha/README.md
Labels: model card

#5781 Create README.md
  model_cards/mrm8488/RoBasquERTa/README.md
Labels: model card

#5776 Update README.md
  model_cards/mrm8488/RuPERTa-base/README.md
Labels: model card

#5763 ADD ERNIE model
  model_cards/nghuyong/ernie-1.0/README.md
  model_cards/nghuyong/ernie-2.0-en/README.md
  model_cards/nghuyong/ernie-2.0-large-en/README.md
  model_cards/nghuyong/ernie-tiny/README.md
Labels: model card

#5789 Update README.md
  model_cards/digitalepidemiologylab/covid-twitter-bert/README.md
Labels: model card

#5812 Update README.md
  model_cards/mrm8488/t5-base-finetuned-imdb-sentiment/README.md
Labels: model card

#5823 Add model card for dv-wave
  model_cards/monsoon-nlp/dv-wave/README.md
Labels: model card

#5821 Create README.md
  model_cards/mrm8488/t5-small-finetuned-emotion/README.md
Labels: model card

#5828 language tag addition on albert-mongolian
  model_cards/bayartsogt/albert-mongolian/README.md
Labels: model card

#5841 [Model card] Bert2Bert
  model_cards/patrickvonplaten/bert2bert-cnn_dailymail-fp16/README.md
Labels: model card

#5845 Added model card for neuraly/bert-base-italian-cased-sentiment
  model_cards/neuraly/bert-base-italian-cased-sentiment/README.md
Labels: model card

#5847 Create README.md
  model_cards/jannesg/takalane_afr_roberta/README.md
Labels: model card

#5813 Create README.md
  model_cards/mrm8488/t5-small-finetuned-imdb-sentiment/README.md
Labels: model card

#5920 Create README.md
  model_cards/mrm8488/t5-base-finetuned-wikiSQL/README.md
Labels: model card

#5924 Create README.md
  model_cards/mrm8488/t5-base-finetuned-wikiSQL-sql-to-en/README.md
Labels: model card

#5921 Create README.md
  model_cards/mrm8488/t5-small-finetuned-wikiSQL/README.md
Labels: model card

#5838 Created model card for my summarization model
  model_cards/yuvraj/summarizer-cnndm/README.md
Labels: model card

#5839 Created model card for my extreme summarization model
  model_cards/yuvraj/xSumm/README.md
Labels: model card

#5884 Add ComVE model cards
  model_cards/aliosm/ComVE-distilgpt2/README.md
  model_cards/aliosm/ComVE-gpt2-large/README.md
  model_cards/aliosm/ComVE-gpt2-medium/README.md
  model_cards/aliosm/ComVE-gpt2/README.md
Labels: model card

#5856 Update README.md
  model_cards/mrm8488/t5-base-finetuned-emotion/README.md
Labels: model card

#5857 Update README.md
  model_cards/mrm8488/t5-small-finetuned-emotion/README.md
Labels: model card

#5864 Create README.md
  model_cards/tuner007/t5_abs_qa/README.md
Labels: model card

#5871 Create README.md
  model_cards/jannesg/takalane_nbl_roberta/README.md
Labels: model card

#5872 Create README.md
  model_cards/jannesg/takalane_nso_roberta/README.md
Labels: model card

#5875 Create README.md
  model_cards/jannesg/takalane_tsn_roberta/README.md
Labels: model card

#5877 Create README.md
  model_cards/jannesg/takalane_ven_roberta/README.md
Labels: model card

#5878 Create README.md
  model_cards/jannesg/takalane_xho_roberta/README.md
Labels: model card

#5879 Create README.md
  model_cards/jannesg/takalane_zul_roberta/README.md
Labels: model card

#5874 Create README.md
  model_cards/jannesg/takalane_ssw_roberta/README.md
Labels: model card

#5873 Create README.md
  model_cards/jannesg/takalane_sot_roberta/README.md
Labels: model card

#5876 Create README.md
  model_cards/jannesg/takalane_tso_roberta/README.md
Labels: model card

#5759 T5 Model Cards
  model_cards/t5-11b-README.md
  model_cards/t5-3b-README.md
  model_cards/t5-base-README.md
  model_cards/t5-large-README.md
  model_cards/t5-small-README.md
Labels: model card

#5989 Create README.md
  model_cards/unideeplearning/polibert_sa/README.md
Labels: model card

#5980 add fine-tuned mobilebert squad v1 and squad v2 model cards
  model_cards/csarron/mobilebert-uncased-squad-v1/README.md
  model_cards/csarron/mobilebert-uncased-squad-v2/README.md
Labels: model card

#6006 Model cards: add roberta-base-squad-v1 and bert-base-uncased-squad-v1
  model_cards/csarron/bert-base-uncased-squad-v1/README.md
  model_cards/csarron/roberta-base-squad-v1/README.md
Labels: model card

#6000 Bert german dbmdz uncased sentence stsb
  model_cards/T-Systems-onsite/bert-german-dbmdz-uncased-sentence-stsb/README.md
Labels: model card

#6008 fix: model card readme clutter
  model_cards/csarron/roberta-base-squad-v1/README.md
Labels: model card

#6009 [model_cards] roberta-base-finetuned-yelp-polarity
  model_cards/VictorSanh/roberta-base-finetuned-yelp-polarity/README.md
Labels: model card

#6020 Create README.md
  model_cards/rdenadai/BR_BERTo/README.md
Labels: model card

#5951 Create README.md
  model_cards/mrm8488/mobilebert-uncased-finetuned-squadv2/README.md
Labels: model card

#5952 Create README.md
  model_cards/mrm8488/mobilebert-uncased-finetuned-squadv1/README.md
Labels: model card

#6016 Create model card for RuPERTa-base
  model_cards/mrm8488/RuPERTa-base/README.md
Labels: model card

#6042 Update README.md of my model
  model_cards/rdenadai/BR_BERTo/README.md
Labels: model card

#6037 Model card for Vamsi/T5_Paraphrase_Paws
  model_cards/Vamsi/T5_Paraphrase_Paws/README.md
Labels: model card

#6040 Draft Etalab QA model
  model_cards/etalab-ia/camembert-base-squadFR-fquad-piaf/README.md
Labels: model card

#6032 Create README.md
  model_cards/ramsrigouthamg/t5_paraphraser/README.md
Labels: model card

#6087 fixed typos, added example question.
  model_cards/etalab-ia/camembert-base-squadFR-fquad-piaf/README.md
Labels: model card

#6076 Create README.md
  model_cards/mrm8488/gpt2-finetuned-recipes-cooking_v2/README.md
Labels: model card

#6030 create model-card for lordtt13/emo-mobilebert
  model_cards/lordtt13/emo-mobilebert/README.md
Labels: model card

#6128 add deepset/xlm-roberta-large-squad2 model card
  model_cards/deepset/xlm-roberta-large-squad2/README.md
Labels: model card

#6169 Create README.md
  model_cards/deepset/minilm-uncased-squad2/README.md
Labels: model card

#6153 readme m3hrdadfi/albert-fa-base-v2
  model_cards/m3hrdadfi/albert-fa-base-v2/README.md
Labels: model card

#6133 bart-large-mnli-yahoo-answers model card
  model_cards/joeddav/bart-large-mnli-yahoo-answers/README.md
Labels: model card
