Repository huggingface/transformers, pull requests merged in 2020-08, with the labels that each got.

#6242 Add license info to German Bert models
  model_cards/bert-base-german-cased-README.md
  model_cards/deepset/bert-base-german-cased-oldvocab/README.md
Labels: model card

#6246 Update Model Card
  model_cards/Hate-speech-CNERG/dehatebert-mono-arabic/README.md
Labels: model card

#6075 Create README.md
  model_cards/mrm8488/gpt2-finetuned-recipes-cooking/README.md
Labels: model card

#6123 Create README.md
  model_cards/iarfmoose/t5-base-question-generator/README.md
Labels: model card

#6198 Update model card
  model_cards/asafaya/bert-mini-arabic/README.md
Labels: model card

#6199 Update model card
  model_cards/asafaya/bert-base-arabic/README.md
Labels: model card

#6200 Update model card
  model_cards/asafaya/bert-medium-arabic/README.md
Labels: model card

#6201 Update model card
  model_cards/asafaya/bert-large-arabic/README.md
Labels: model card

#6269 added t5 base and small bahasa summarization readme
  model_cards/huseinzol05/t5-base-bahasa-summarization-cased/README.md
  model_cards/huseinzol05/t5-small-bahasa-summarization-cased/README.md
Labels: model card

#6272 Create README.md for uploaded classifier
  model_cards/jme-p/shrugging-grace-tweet-classifier/README.md
Labels: model card

#6273 Create README.md
  model_cards/shrugging-grace/tweetclassifier/README.md
Labels: model card

#6290 Update model card
  model_cards/mrm8488/RuPERTa-base/README.md
Labels: model card

#6027 [Fix] text-classification PL example
  examples/lightning_base.py
  examples/text-classification/run_pl.sh
  examples/text-classification/run_pl_glue.py
Labels: Examples

#6255 Update Model Card
  model_cards/Hate-speech-CNERG/dehatebert-mono-english/README.md
Labels: model card

#6254 Update Model Card
  model_cards/Hate-speech-CNERG/dehatebert-mono-french/README.md
Labels: model card

#6253 Update Model Card
  model_cards/Hate-speech-CNERG/dehatebert-mono-german/README.md
Labels: model card

#6252 Update Model Card
  model_cards/Hate-speech-CNERG/dehatebert-mono-indonesian/README.md
Labels: model card

#6251 Update Model Card
  model_cards/Hate-speech-CNERG/dehatebert-mono-italian/README.md
Labels: model card

#6250 Update Model Card
  model_cards/Hate-speech-CNERG/dehatebert-mono-polish/README.md
Labels: model card

#6249 Update Model Card
  model_cards/Hate-speech-CNERG/dehatebert-mono-portugese/README.md
Labels: model card

#6248 Update Model Card
  model_cards/Hate-speech-CNERG/dehatebert-mono-spanish/README.md
Labels: model card

#6350 Add model card for electra-base-turkish-cased-ner
  model_cards/mys/electra-base-turkish-cased-ner/README.md
Labels: model card

#6397 Create README.md
  model_cards/akhooli/gpt2-small-arabic-poetry/README.md
Labels: model card

#6396 switch Hindi-BERT to S3 README
  model_cards/monsoon-nlp/hindi-bert/README.md
Labels: model card

#6413 Create README.md
  model_cards/akhooli/gpt2-small-arabic/README.md
Labels: model card

#6357 Create Model Card File
  model_cards/pranavpsv/gpt2-genre-story-generator/README.md
Labels: model card

#6386 Create README.md
  model_cards/cedpsam/chatbot_fr/README.md
Labels: model card

#6346 Create README.md
  model_cards/rohanrajpal/bert-base-multilingual-codemixed-cased-sentiment/README.md
Labels: model card

#6379 Change metadata to be indexed correctly
  model_cards/mrm8488/RuPERTa-base-finetuned-squadv2/README.md
Labels: model card

#6380 Add metadata to be indexed properly
  model_cards/mrm8488/RuPERTa-base-finetuned-squadv1/README.md
Labels: model card

#6378 Create README.md
  model_cards/mrm8488/t5-base-finetuned-question-generation-ap/README.md
Labels: model card

#6381 Create README.md
  model_cards/mrm8488/t5-small-finetuned-quora-for-paraphrasing/README.md
Labels: model card

#6412 Create model card T5-base fine-tuned on event2Mind for Intent Prediction
  model_cards/mrm8488/t5-base-finetuned-e2m-intent/README.md
Labels: model card

#6324 Create README.md
  model_cards/rohanrajpal/bert-base-codemixed-uncased-sentiment/README.md
Labels: model card

#6435 Update README.md
  model_cards/cedpsam/chatbot_fr/README.md
Labels: model card

#6469 Fix typo
  model_cards/mrm8488/t5-small-finetuned-squadv2/README.md
Labels: model card

#6527 Update bert-base-portuguese-cased and bert-large-portuguese-cased cards
  model_cards/neuralmind/bert-base-portuguese-cased/README.md
  model_cards/neuralmind/bert-large-portuguese-cased/README.md
Labels: model card

#6496 Add Model Card for electra-base-german-uncased
  model_cards/german-nlp-group/electra-base-german-uncased/README.md
Labels: model card

#6522 Create model cards for indonesian models
  model_cards/cahya/bert-base-indonesian-522M/README.md
  model_cards/cahya/gpt2-small-indonesian-522M/README.md
  model_cards/cahya/roberta-base-indonesian-522M/README.md
Labels: model card

#6531 Fix flaky ONNX tests
  tests/test_onnx.py
Labels: Tests

#6544 [model_cards] Add a new model for Irish
  model_cards/jimregan/BERTreach/README.md
Labels: model card

#6536 [model_cards] Add model cards for Urduhack model (roberta-urdu-small)
  model_cards/urduhack/roberta-urdu-small/README.md
Labels: model card

#6530 Added first model card
  model_cards/gilf/french-camembert-postag-model/README.md
Labels: model card

#6546 [model_cards] update jimregan/BERTreach card with #s of sentences/tokens
  model_cards/jimregan/BERTreach/README.md
Labels: model card

#6342 [marian] converter supports models from new Tatoeba project
  docs/source/model_doc/marian.rst
  src/transformers/convert_marian_to_pytorch.py
  tests/test_modeling_marian.py
Labels: New model, marian

#6555 Small typo fixes for model card: electra-base-german-uncased
  model_cards/german-nlp-group/electra-base-german-uncased/README.md
Labels: model card

#6557 Create README.md
  model_cards/mrm8488/t5-base-finetuned-break_data-question-retrieval/README.md
Labels: model card

#6556 Create README.md
  model_cards/mrm8488/t5-base-finetuned-break_data/README.md
Labels: model card

#6569 [Model card] Bert2GPT2 EncoderDecoder model
  model_cards/patrickvonplaten/bert2gpt2-cnn_dailymail-fp16/README.md
Labels: model card

#6591 tf generation utils: remove unused kwargs
  src/transformers/generation_tf_utils.py
Labels: cleanup

#6666 added multiple model_cards for below models
  model_cards/sagorsarker/codeswitch-hineng-lid-lince/README.md
  model_cards/sagorsarker/codeswitch-hineng-ner-lince/README.md
  model_cards/sagorsarker/codeswitch-hineng-pos-lince/README.md
  model_cards/sagorsarker/codeswitch-nepeng-lid-lince/README.md
  model_cards/sagorsarker/codeswitch-spaeng-lid-lince/README.md
  model_cards/sagorsarker/codeswitch-spaeng-ner-lince/README.md
  model_cards/sagorsarker/codeswitch-spaeng-pos-lince/README.md
Labels: model card

#6706 ci/gh/self-scheduled: add newline to make examples tests run even if src/ tests fail
  .github/workflows/self-scheduled.yml
Labels: Tests

#6716 Fix ONNX test_quantize unittest
  .github/workflows/self-push.yml
  .github/workflows/self-scheduled.yml
  setup.py
  src/transformers/convert_graph_to_onnx.py
Labels: Tests

#6723 add xlm-roberta-large-xnli model card
  model_cards/joeddav/xlm-roberta-large-xnli/README.md
Labels: model card

#6703 Adding model cards for 5 models
  model_cards/iarfmoose/bert-base-cased-qa-evaluator/README.md
  model_cards/iarfmoose/roberta-base-bulgarian-pos/README.md
  model_cards/iarfmoose/roberta-base-bulgarian/README.md
  model_cards/iarfmoose/roberta-small-bulgarian-pos/README.md
  model_cards/iarfmoose/roberta-small-bulgarian/README.md
Labels: model card

#6718 Create model card for lordtt13/COVID-SciBERT
  model_cards/lordtt13/COVID-SciBERT/README.md
Labels: model card

#6727 added model card for codeswitch-spaeng-sentiment-analysis-lince
  model_cards/sagorsarker/codeswitch-hineng-lid-lince/README.md
  model_cards/sagorsarker/codeswitch-hineng-ner-lince/README.md
  model_cards/sagorsarker/codeswitch-hineng-pos-lince/README.md
  model_cards/sagorsarker/codeswitch-nepeng-lid-lince/README.md
  model_cards/sagorsarker/codeswitch-spaeng-lid-lince/README.md
  model_cards/sagorsarker/codeswitch-spaeng-ner-lince/README.md
  model_cards/sagorsarker/codeswitch-spaeng-pos-lince/README.md
  model_cards/sagorsarker/codeswitch-spaeng-sentiment-analysis-lince/README.md
Labels: model card

#6729 Model card for kuisailab/albert-base-arabic
  model_cards/kuisailab/albert-base-arabic/README.md
Labels: model card

#6731 Model card for kuisailab/albert-xlarge-arabic
  model_cards/kuisailab/albert-xlarge-arabic/README.md
Labels: model card

#6730 Model card for kuisailab/albert-large-arabic
  model_cards/kuisailab/albert-large-arabic/README.md
Labels: model card

#6755 Model Card for Multilingual Passage Reranking BERT
  model_cards/amberoad/bert-multilingual-passage-reranking-msmarco/README.md
Labels: model card

#6724 create ProtBert-BFD model card.
  model_cards/Rostlab/prot_bert_bfd/README.md
Labels: model card

#6764 Add ProtBert model card
  model_cards/Rostlab/prot_bert/README.md
Labels: model card

#6809 [s2s] Test hub configs in self-scheduled CI
  examples/seq2seq/test_seq2seq_examples.py
Labels: Tests

#6827 Add model card for singbert lite.
  model_cards/zanelim/singbert-large-sg/README.md
  model_cards/zanelim/singbert-lite-sg/README.md
  model_cards/zanelim/singbert/README.md
Labels: model card

#6793 Update README of my model
  model_cards/rdenadai/BR_BERTo/README.md
Labels: model card
