Repository huggingface/transformers, pull requests merged in 2020-05, with the labels that each got.

#4062 Create README.md
  model_cards/camembert/camembert-large/README.md
Labels: model card

#4063 Create README.md model_card camembert/camembert-base-oscar-4gb
  model_cards/camembert/camembert-base-oscar-4gb/README.md
Labels: model card

#4064 Create model_card camembert-base-ccnet-4gb
  model_cards/camembert/camembert-base-ccnet-4gb/README.md
Labels: model card

#4065 Create model_card camembert-base-ccnet
  model_cards/camembert/camembert-base-ccnet/README.md
Labels: model card

#4066 create model_card camembert-base-wikipedia-4gb
  model_cards/camembert/camembert-base-wikipedia-4gb/README.md
Labels: model card

#4033 Model Card: gaochangkuan README.md
  model_cards/gaochangkuan/model_dir/README.md
Labels: model card

#4099 Added GePpeTto card
  model_cards/LorenzoDeMattei/GePpeTto.md
Labels: model card

#4102 Added huseinzol05/gpt2-345M-bahasa-cased
  model_cards/huseinzol05/gpt2-345M-bahasa-cased/README.md
Labels: model card

#4112 Albert large QA model pretrained from baidu webqa and baidu dureader datasets.
  model_cards/wptoux/albert-chinese-large-qa/README.md
Labels: model card

#4114 model card for surajp/albert-base-sanskrit
  model_cards/surajp/albert-base-sanskrit/README.md
Labels: model card

#4115 Create model card
  model_cards/mrm8488/distilroberta-base-finetuned-sentiment/README.md
Labels: model card

#4119 Fix markdown to show the results table properly
  model_cards/mrm8488/distilroberta-base-finetuned-sentiment/README.md
Labels: model card

#4162 Add model card for the NER model
  model_cards/jplu/tf-xlm-r-ner-40-lang/README.md
Labels: model card

#4143 Camembert-large-fquad model card
  model_cards/illuin/camembert-large-fquad/README.md
Labels: model card

#4202 Create README.md
  model_cards/savasy/bert-base-turkish-sentiment-cased/README.md
Labels: model card

#4179 Create README.md
  model_cards/mrm8488/chEMBL_smiles_v1/README.md
Labels: model card

#4132 Create README.md
  model_cards/savasy/bert-base-turkish-ner-cased/README.md
Labels: model card

#4196 Model card for spanish electra small
  model_cards/mrm8488/electricidad-small-discriminator/README.md
Labels: model card

#4183 Model card for allegro/herbert-klej-cased-v1
  model_cards/allegro/herbert-klej-cased-v1/README.md
Labels: model card

#4184 Model card for allegro/herbert-klej-cased-tokenizer-v1
  model_cards/allegro/herbert-klej-cased-tokenizer-v1/README.md
Labels: model card

#4230 example updated to use generation pipeline
  model_cards/LorenzoDeMattei/GePpeTto/README.md
Labels: model card

#4152 [Marian] documentation and AutoModel support
  README.md
  docs/source/index.rst
  docs/source/model_doc/bart.rst
  docs/source/model_doc/marian.rst
  docs/source/pretrained_models.rst
  src/transformers/__init__.py
  src/transformers/configuration_auto.py
  src/transformers/configuration_marian.py
  src/transformers/convert_marian_to_pytorch.py
  src/transformers/modeling_auto.py
  src/transformers/modeling_marian.py
  src/transformers/tokenization_auto.py
  src/transformers/tokenization_marian.py
  tests/test_modeling_marian.py
Labels: marian

#4286 Reformer enwik8 - Model card
  model_cards/google/reformer-enwik8/README.md
Labels: model card

#4242 Reformer self attention mask value not converted in apex half precision
  src/transformers/modeling_reformer.py
Labels: reformer

#4280 Update model-card
  model_cards/jplu/tf-xlm-r-ner-40-lang/README.md
Labels: model card

#4276 Update README.md
  model_cards/savasy/bert-base-turkish-sentiment-cased/README.md
Labels: model card

#4281 Model card for bert-turkish-question-answering question-answering model
  model_cards/lserinol/bert-turkish-question-answering/README.md
Labels: model card

#4279 Documentation: fix links to NER examples
  docs/source/examples.md
  examples/token-classification/README.md
Labels: Documentation

#4273 Add migrating from `pytorch-transformers`
  docs/source/migration.md
Labels: Documentation, Migration

#4305 fixed missing torch module import
  model_cards/lserinol/bert-turkish-question-answering/README.md
Labels: model card

#4270 Add MultipleChoice to TFTrainer [WIP]
  examples/README.md
  examples/multiple-choice/README.md
  examples/multiple-choice/run_tf_multiple_choice.py
  examples/multiple-choice/utils_multiple_choice.py
  src/transformers/__init__.py
  src/transformers/modeling_tf_albert.py
  src/transformers/modeling_tf_auto.py
  src/transformers/trainer_tf.py
  src/transformers/training_args_tf.py
Labels: Ex: Multiple Choice, TensorFlow

#4321 Add modelcard with acknowledgements
  model_cards/ViktorAlm/electra-base-norwegian-uncased-discriminator/README.md
Labels: model card

#4318 [model_cards]: 🇹🇷 Add new ELECTRA small and base models for Turkish
  model_cards/dbmdz/electra-base-turkish-cased-discriminator/README.md
  model_cards/dbmdz/electra-small-turkish-cased-discriminator/README.md
Labels: model card

#4315 Update README.md
  model_cards/savasy/bert-base-turkish-sentiment-cased/README.md
Labels: model card

#4313 Update README.md
  model_cards/savasy/bert-base-turkish-sentiment-cased/README.md
Labels: model card

#4328 wrong variable name used
  model_cards/google/electra-base-generator/README.md
Labels: model card

#4348 Add link to W&B to see whole training logs
  model_cards/mrm8488/gpt2-imdb-neg/README.md
Labels: model card

#4345 Add image and metadata
  model_cards/ViktorAlm/electra-base-norwegian-uncased-discriminator/README.md
Labels: model card

#4357 Create README.md
  model_cards/seiya/oubiobert-base-uncased/README.md
Labels: model card

#4359 Create README.md
  model_cards/savasy/bert-base-turkish-squad/README.md
Labels: model card

#4377 Added README huseinzol05/t5-base-bahasa-cased
  model_cards/huseinzol05/t5-base-bahasa-cased/README.md
Labels: model card

#4409 add model card for t5-base-squad
  model_cards/valhalla/t5-base-squad/README.md
Labels: model card

#4413 Modify example of usage
  model_cards/mrm8488/electricidad-small-discriminator/README.md
Labels: model card

#4424 Update README.md (model_card)
  model_cards/seiya/oubiobert-base-uncased/README.md
Labels: model card

#4433 Create README.md
  model_cards/digitalepidemiologylab/covid-twitter-bert/README.md
Labels: model card

#4435 added model card for german-sentiment-bert
  model_cards/oliverguhr/german-sentiment-bert/README.md
Labels: model card

#4437 Added model cards for Romanian BERT models
  model_cards/dumitrescustefan/bert-base-romanian-cased-v1/README.md
  model_cards/dumitrescustefan/bert-base-romanian-uncased-v1/README.md
Labels: model card

#4427 Refactored the README.md file
  model_cards/savasy/bert-base-turkish-sentiment-cased/README.md
Labels: model card

#4389 [MarianTokenizer] implement save_vocabulary and other common methods
  src/transformers/tokenization_marian.py
  tests/test_modeling_marian.py
  tests/test_tokenization_marian.py
Labels: marian

#4405 add BERT trained from review corpus.
  model_cards/activebus/BERT-DK_laptop/README.md
  model_cards/activebus/BERT-DK_rest/README.md
  model_cards/activebus/BERT-PT_laptop/README.md
  model_cards/activebus/BERT-PT_rest/README.md
  model_cards/activebus/BERT-XD_Review/README.md
  model_cards/activebus/BERT_Review/README.md
Labels: model card

#4470 Model card for Tereveni-AI/gpt2-124M-uk-fiction
  model_cards/Tereveni-AI/gpt2-124M-uk-fiction/README.md
Labels: model card

#4466 Model card for RuPERTa-base fine-tuned for NER
  model_cards/mrm8488/RuPERTa-base-finetuned-ner/README.md
Labels: model card

#4482 Create model card for RuPERTA-base-finetuned-pos
  model_cards/mrm8488/RuPERTa-base-finetuned-pos/README.md
Labels: model card

#4488 Make changes to german-bert vocab file more prominent
  model_cards/bert-base-german-cased-README.md
  model_cards/deepset/bert-base-german-cased-oldvocab/README.md
Labels: model card

#4522 Added huseinzol05/t5-small-bahasa-cased README.md
  model_cards/huseinzol05/t5-small-bahasa-cased/README.md
Labels: model card

#4556 Added reference to use for citing this model
  model_cards/asafaya/bert-base-arabic/README.md
Labels: model card

#4578 Create model card
  model_cards/mrm8488/bert-italian-finedtuned-squadv1-it-alfa/README.md
Labels: model card

#4570 Model card: Updated the link to the paper
  model_cards/oliverguhr/german-sentiment-bert/README.md
Labels: model card

#4602 Remove MD emojis
  model_cards/mrm8488/bert-italian-finedtuned-squadv1-it-alfa/README.md
Labels: model card

#4591 Create README.md
  model_cards/mrm8488/t5-base-finetuned-squadv2/README.md
Labels: model card

#4582 Improve model card for Tereveni-AI/gpt2-124M-uk-fiction
  model_cards/Tereveni-AI/gpt2-124M-uk-fiction/README.md
Labels: model card

#4604 updated model cards for both models at aubmindlab
  model_cards/aubmindlab/bert-base-arabert/README.md
  model_cards/aubmindlab/bert-base-arabertv01/README.md
Labels: model card

#4603 Creating a readme for ALBERT in Mongolian
  model_cards/bayartsogt/albert-mongolian/README.md
Labels: model card

#4607 Create README.md
  model_cards/dkleczek/bert-base-polish-cased-v1/README.md
Labels: model card

#4608 uncased readme
  model_cards/dkleczek/bert-base-polish-uncased-v1/README.md
Labels: model card

#4610 README for HooshvareLab
  model_cards/HooshvareLab/bert-base-parsbert-uncased/README.md
Labels: model card

#4625 [Model Card] model card for longformer-base-4096-finetuned-squadv1
  model_cards/valhalla/longformer-base-4096-finetuned-squadv1/README.md
Labels: model card

#4628 [Longformer] more models + model cards
  model_cards/allenai/longformer-base-4096-extra.pos.embd.only/README.md
  model_cards/allenai/longformer-base-4096/README.md
  src/transformers/configuration_longformer.py
  src/transformers/modeling_longformer.py
  src/transformers/tokenization_longformer.py
Labels: model card
