Repository huggingface/transformers, pull requests merged in 2020-06, with the labels that each got.

#4684 Create README.md
  model_cards/mrm8488/longformer-base-4096-finetuned-squadv2/README.md
Labels: model card

#4687 Update HooshvareLab/bert-base-parsbert-uncased
  model_cards/HooshvareLab/bert-base-parsbert-uncased/README.md
Labels: model card

#4667 HooshvareLab readme parsbert-peymaner
  model_cards/HooshvareLab/bert-base-parsbert-peymaner-uncased/README.md
Labels: model card

#4666 HooshvareLab readme parsbert-armananer
  model_cards/HooshvareLab/bert-base-parsbert-armanner-uncased/README.md
Labels: model card

#4665 HooshvareLab readme parsbert-ner
  model_cards/HooshvareLab/bert-base-parsbert-ner-uncased/README.md
Labels: model card

#4730 bert-small-cord19 model cards
  model_cards/NeuML/bert-small-cord19-squad2/README.md
  model_cards/NeuML/bert-small-cord19/README.md
  model_cards/NeuML/bert-small-cord19qa/README.md
Labels: model card

#4763 Model Card for RoBERTa trained on Sanskrit
  model_cards/surajp/SanBERTa/README.md
Labels: model card

#4743 Create README.md
  model_cards/facebook/bart-large/README.md
Labels: model card

#4737 Create model card for T5-base fine-tuned for Sentiment Span Extraction
  model_cards/mrm8488/t5-base-finetuned-span-sentiment-extraction/README.md
Labels: model card

#4681 NER: Add new WNUT’17 example
  examples/token-classification/README.md
  examples/token-classification/run.sh
  examples/token-classification/run_pl.sh
  examples/token-classification/scripts/preprocess.py
Labels: Documentation, Ex: Named Entity Recognition

#4775 Create model card for tblard/allocine
  model_cards/tblard/tf-allocine/README.md
Labels: model card

#4936 [Model card] model card for electra-base QA model
  model_cards/valhalla/electra-base-discriminator-finetuned_squadv1/README.md
Labels: model card

#4872 Create README.md
  model_cards/healx/gpt-2-pubmed-large/README.md
Labels: model card

#4865 Create README.md
  model_cards/mrm8488/t5-base-finetuned-summarize-news/README.md
Labels: model card

#4977 [model card] model card for bart-large-finetuned-squadv1
  model_cards/valhalla/bart-large-finetuned-squadv1/README.md
Labels: model card

#4975 Create README.md
  model_cards/ipuneetrathore/bert-base-cased-finetuned-finBERT/README.md
Labels: model card

#4728 Possible fix to make AMP work with DDP in the trainer
  src/transformers/training_args.py
Labels: PyTorch

#5029 Add reference to NLP (package) dataset
  model_cards/mrm8488/longformer-base-4096-finetuned-squadv2/README.md
Labels: model card

#5028 Add reference to NLP dataset
  model_cards/mrm8488/t5-base-finetuned-squadv2/README.md
Labels: model card

#4939 [cleanup] Hoist ModelTester objects to top level
  tests/test_modeling_albert.py
  tests/test_modeling_ctrl.py
  tests/test_modeling_distilbert.py
  tests/test_modeling_electra.py
  tests/test_modeling_flaubert.py
  tests/test_modeling_gpt2.py
  tests/test_modeling_longformer.py
  tests/test_modeling_openai.py
  tests/test_modeling_roberta.py
  tests/test_modeling_t5.py
  tests/test_modeling_tf_albert.py
  tests/test_modeling_tf_bert.py
  tests/test_modeling_tf_ctrl.py
  tests/test_modeling_tf_distilbert.py
  tests/test_modeling_tf_electra.py
  tests/test_modeling_tf_gpt2.py
  tests/test_modeling_tf_openai_gpt.py
  tests/test_modeling_tf_roberta.py
  tests/test_modeling_tf_t5.py
  tests/test_modeling_tf_transfo_xl.py
  tests/test_modeling_tf_xlm.py
  tests/test_modeling_tf_xlnet.py
  tests/test_modeling_transfo_xl.py
  tests/test_modeling_xlm.py
  tests/test_modeling_xlnet.py
Labels: cleanup

#5043 Fix marian tokenizer save pretrained
  src/transformers/tokenization_marian.py
  tests/test_tokenization_marian.py
Labels: marian

#4951 [examples] SummarizationModule improvements
  examples/lightning_base.py
  examples/requirements.txt
  examples/summarization/README.md
  examples/summarization/callbacks.py
  examples/summarization/distillation.py
  examples/summarization/evaluate_cnn.py
  examples/summarization/finetune.py
  examples/summarization/finetune.sh
  examples/summarization/finetune_bart.sh
  examples/summarization/initialization_utils.py
  examples/summarization/run_distiller.sh
  examples/summarization/run_eval.py
  examples/summarization/test_summarization_examples.py
  examples/summarization/utils.py
  src/transformers/modeling_bart.py
Labels: Examples, seq2seq

#5092 [MarianTokenizer] Switch to sacremoses for punc normalization
  src/transformers/tokenization_marian.py
Labels: marian

#5115 [cleanup] generate_beam_search comments
  src/transformers/modeling_tf_utils.py
  src/transformers/modeling_utils.py
Labels: cleanup

#5131 Update BERT-of-Theseus model card to avoid confusion
  model_cards/canwenxu/BERT-of-Theseus-MNLI/README.md
Labels: model card

#5078 Add BERT Loses Patience (Patience-based Early Exit)
  examples/bert-loses-patience/README.md
  examples/bert-loses-patience/pabee/__init__.py
  examples/bert-loses-patience/pabee/modeling_pabee_albert.py
  examples/bert-loses-patience/pabee/modeling_pabee_bert.py
  examples/bert-loses-patience/run_glue_with_pabee.py
  examples/bert-loses-patience/test_run_glue_with_pabee.py
Labels: Ex: Sequence Classification

#5147 Typo in Reformer model card
  model_cards/google/reformer-crime-and-punishment/README.md
Labels: model card

#5178 Add model cards for Microsoft's MiniLM
  model_cards/microsoft/MiniLM-L12-H384-uncased/README.md
  model_cards/microsoft/Multilingual-MiniLM-L12-H384/README.md
Labels: model card

#4978 Output hidden states
  src/transformers/modeling_albert.py
  src/transformers/modeling_bart.py
  src/transformers/modeling_bert.py
  src/transformers/modeling_ctrl.py
  src/transformers/modeling_distilbert.py
  src/transformers/modeling_electra.py
  src/transformers/modeling_flaubert.py
  src/transformers/modeling_gpt2.py
  src/transformers/modeling_longformer.py
  src/transformers/modeling_mmbt.py
  src/transformers/modeling_mobilebert.py
  src/transformers/modeling_openai.py
  src/transformers/modeling_reformer.py
  src/transformers/modeling_roberta.py
  src/transformers/modeling_t5.py
  src/transformers/modeling_tf_albert.py
  src/transformers/modeling_tf_bert.py
  src/transformers/modeling_tf_ctrl.py
  src/transformers/modeling_tf_distilbert.py
  src/transformers/modeling_tf_electra.py
  src/transformers/modeling_tf_flaubert.py
  src/transformers/modeling_tf_gpt2.py
  src/transformers/modeling_tf_mobilebert.py
  src/transformers/modeling_tf_openai.py
  src/transformers/modeling_tf_roberta.py
  src/transformers/modeling_tf_t5.py
  src/transformers/modeling_tf_transfo_xl.py
  src/transformers/modeling_tf_xlm.py
  src/transformers/modeling_tf_xlnet.py
  src/transformers/modeling_transfo_xl.py
  src/transformers/modeling_xlm.py
  src/transformers/modeling_xlnet.py
  tests/test_modeling_common.py
  tests/test_modeling_tf_common.py
Labels: Core: Modeling

#5179 Model card for t5-base-finetuned-emotion (recognition)
  model_cards/mrm8488/t5-base-finetuned-emotion/README.md
Labels: model card

#5107 Create README.md
  model_cards/mrm8488/t5-base-finetuned-imdb-sentiment/README.md
Labels: model card

#5165 Create README.md
  model_cards/aodiniz/bert_uncased_L-2_H-512_A-8_cord19-200616/README.md
Labels: model card

#5174 Add README.md (nyu-mll)
  model_cards/nyu-mll/roberta-base-100M-1/README.md
  model_cards/nyu-mll/roberta-base-100M-2/README.md
  model_cards/nyu-mll/roberta-base-100M-3/README.md
  model_cards/nyu-mll/roberta-base-10M-1/README.md
  model_cards/nyu-mll/roberta-base-10M-2/README.md
  model_cards/nyu-mll/roberta-base-10M-3/README.md
  model_cards/nyu-mll/roberta-base-1B-1/README.md
  model_cards/nyu-mll/roberta-base-1B-2/README.md
  model_cards/nyu-mll/roberta-base-1B-3/README.md
  model_cards/nyu-mll/roberta-med-small-1M-1/README.md
  model_cards/nyu-mll/roberta-med-small-1M-2/README.md
  model_cards/nyu-mll/roberta-med-small-1M-3/README.md
  model_cards/nyu-mll/roberta_1M_to_1B/README.md
Labels: model card

#5152 Create README.md
  model_cards/aodiniz/bert_uncased_L-10_H-512_A-8_cord19-200616_squad2/README.md
Labels: model card

#5160 Create README.md
  model_cards/aodiniz/bert_uncased_L-4_H-256_A-4_cord19-200616/README.md
Labels: model card

#5149 Create README.md
  model_cards/aodiniz/bert_uncased_L-10_H-512_A-8_cord19-200616/README.md
Labels: model card

#5175 Update model card for COVID-QA model
  model_cards/deepset/roberta-base-squad2-covid/README.md
Labels: model card

#5008 Add model card for StackOBERTflow-comments-small
  model_cards/giganticode/StackOBERTflow-comments-small-v1/README.md
Labels: model card

#5009 Create README.md for finetuned BERT model
  model_cards/fran-martinez/scibert_scivocab_cased_ner_jnlpba/README.md
Labels: model card

#5013 [Modelcard] xlm-roberta-squadv2
  model_cards/a-ware/xlmroberta-squadv2/README.md
Labels: model card

#5011 [Modelcard] bart-squadv2
  model_cards/a-ware/bart-squadv2/README.md
Labels: model card

#5217 Create README.md
  model_cards/ahotrod/electra_large_discriminator_squad2_512/README.md
Labels: model card

#5199 Update README.md
  model_cards/aodiniz/bert_uncased_L-10_H-512_A-8_cord19-200616/README.md
Labels: model card

#5108 Create README.md
  model_cards/a-ware/roberta-large-squad-classification/README.md
Labels: model card

#5236 Model cards for Hate-speech-CNERG models
  model_cards/Hate-speech-CNERG/dehatebert-mono-arabic/README.md
  model_cards/Hate-speech-CNERG/dehatebert-mono-english/README.md
  model_cards/Hate-speech-CNERG/dehatebert-mono-french/README.md
  model_cards/Hate-speech-CNERG/dehatebert-mono-german/README.md
  model_cards/Hate-speech-CNERG/dehatebert-mono-indonesian/README.md
  model_cards/Hate-speech-CNERG/dehatebert-mono-italian/README.md
  model_cards/Hate-speech-CNERG/dehatebert-mono-polish/README.md
  model_cards/Hate-speech-CNERG/dehatebert-mono-portugese/README.md
  model_cards/Hate-speech-CNERG/dehatebert-mono-spanish/README.md
Labels: model card

#5259 Create README.md
  model_cards/moumeneb1/flaubert-base-cased-ecology_crisis/README.md
Labels: model card

#5276 Bert base model card
  model_cards/bert-base-uncased-README.md
Labels: model card

#5283 Gpt2 model card
  model_cards/gpt2-README.md
Labels: model card

#5289 [pipelines] Change summarization default to distilbart-cnn-12-6
  src/transformers/pipelines.py
  tests/test_pipelines.py
Labels: Core: Pipeline

#5327 [mBART] skip broken forward pass test, stronger integration test
  src/transformers/tokenization_bart.py
  tests/test_modeling_bart.py
Labels: translation

#5313 Model cards for finance-koelectra models
  model_cards/krevas/finance-koelectra-base-discriminator/README.md
  model_cards/krevas/finance-koelectra-base-generator/README.md
  model_cards/krevas/finance-koelectra-small-discriminator/README.md
  model_cards/krevas/finance-koelectra-small-generator/README.md
Labels: model card

#5325 Added a model card README.md for my pretrained model.
  model_cards/pradhyra/AWSBlogBert/README.md
Labels: model card

#5307 More model cards
  model_cards/bert-base-cased-README.md
  model_cards/bert-base-uncased-README.md
  model_cards/distilbert-base-uncased-README.md
Labels: model card

#5351 Create model card for asafaya/bert-medium-arabic
  model_cards/asafaya/bert-medium-arabic/README.md
Labels: model card

#5352 Create model card for asafaya/bert-mini-arabic
  model_cards/asafaya/bert-mini-arabic/README.md
Labels: model card

#5353 Create model card for asafaya/bert-large-arabic
  model_cards/asafaya/bert-large-arabic/README.md
Labels: model card

#5356 Create model card
  model_cards/mrm8488/t5-base-finetuned-sarcasm-twitter/README.md
Labels: model card

#5357 Fix table format fot test tesults
  model_cards/mrm8488/t5-base-finetuned-emotion/README.md
Labels: model card

#5367 Add link to file and fix typos in model card
  model_cards/chrisliu298/arxiv-ai-gpt2/README.md
Labels: model card

#5368 Fix model card folder name so that it is consistent with model hub
  model_cards/chrisliu298/arxiv_ai_gpt2/README.md
Labels: model card

#5378 Mention openAI model card and merge content
  model_cards/gpt2-README.md
Labels: model card

#5370 Update README.md
  model_cards/mrm8488/t5-base-finetuned-emotion/README.md
Labels: model card

#5371 Update README.md
  model_cards/mrm8488/t5-base-finetuned-summarize-news/README.md
Labels: model card

#5373 Update README.md
  model_cards/mrm8488/t5-base-finetuned-squadv2/README.md
Labels: model card

#5369 Update README.md
  model_cards/mrm8488/t5-base-finetuned-sarcasm-twitter/README.md
Labels: model card

#5413 [mobilebert] Avoid F.tanh deprecation warning
  src/transformers/modeling_mobilebert.py
Labels: cleanup
