Repository huggingface/transformers, pull requests merged in 2020-09, with the labels that each got.

#6885 Create README.md
  model_cards/akhooli/mbart-large-cc25-en-ar/README.md
Labels: model card

#6886 Create README.md
  model_cards/akhooli/xlm-r-large-arabic-sent/README.md
Labels: model card

#6888 Create README.md
  model_cards/dccuchile/bert-base-spanish-wwm-uncased/README.md
Labels: model card

#6887 Create README.md
  model_cards/dccuchile/bert-base-spanish-wwm-cased/README.md
Labels: model card

#6840 Model cards for loodos
  model_cards/loodos/albert-base-turkish-uncased/README.md
  model_cards/loodos/bert-base-turkish-uncased/README.md
  model_cards/loodos/electra-base-turkish-64k-uncased-discriminator/README.md
  model_cards/loodos/electra-base-turkish-uncased/README.md
  model_cards/loodos/electra-small-turkish-cased-discriminator/README.md
  model_cards/loodos/electra-small-turkish-uncased-discriminator/README.md
Labels: model card

#6759 added model card for flexudys t5 model
  model_cards/flexudy/README.md
  model_cards/flexudy/sent-banner.png
Labels: model card

#6801 Model card for primer/BART-Squad2
  model_cards/Primer/bart-squad2/README.md
Labels: model card

#6788 Update multilingual passage rereanking model card
  model_cards/amberoad/bert-multilingual-passage-reranking-msmarco/README.md
Labels: model card

#6602 Create README.md
  model_cards/rohanrajpal/bert-base-en-hi-codemix-cased/README.md
Labels: model card

#6598 Create README.md
  model_cards/rohanrajpal/bert-base-en-es-codemix-cased/README.md
Labels: model card

#6893 Model card for huBERT
  model_cards/SZTAKI-HLT/hubert-base-cc/README.md
Labels: model card

#6921 [model_cards] Fixed some typing mistakes in usage sections in model cards.
  model_cards/loodos/albert-base-turkish-uncased/README.md
  model_cards/loodos/bert-base-turkish-uncased/README.md
  model_cards/loodos/electra-base-turkish-64k-uncased-discriminator/README.md
  model_cards/loodos/electra-base-turkish-uncased-discriminator/README.md
  model_cards/loodos/electra-small-turkish-cased-discriminator/README.md
  model_cards/loodos/electra-small-turkish-uncased-discriminator/README.md
Labels: model card

#6906 Update to the huBERT model card.
  model_cards/SZTAKI-HLT/hubert-base-cc/README.md
Labels: model card

#6905 Changed link to the correct paper in the second paragraph
  model_cards/oliverguhr/german-sentiment-bert/README.md
Labels: model card

#6960 create model card for astroGPT
  model_cards/stevhliu/astroGPT/README.md
Labels: model card

#6964 Create README.md model card
  model_cards/rjbownes/Magic-The-Generating/README.md
Labels: model card

#6974 Create README.md
  model_cards/akhooli/mbart-large-cc25-ar-en/README.md
Labels: model card

#6990 README for HooshvareLab/bert-fa-base-uncased
  model_cards/HooshvareLab/bert-fa-base-uncased/README.md
Labels: model card

#7071 added bangla-bert-base model card and also modified other model cards
  model_cards/sagorsarker/bangla-bert-base/README.md
  model_cards/sagorsarker/codeswitch-hineng-lid-lince/README.md
  model_cards/sagorsarker/codeswitch-hineng-ner-lince/README.md
  model_cards/sagorsarker/codeswitch-hineng-pos-lince/README.md
  model_cards/sagorsarker/codeswitch-nepeng-lid-lince/README.md
  model_cards/sagorsarker/codeswitch-spaeng-lid-lince/README.md
  model_cards/sagorsarker/codeswitch-spaeng-ner-lince/README.md
  model_cards/sagorsarker/codeswitch-spaeng-pos-lince/README.md
  model_cards/sagorsarker/codeswitch-spaeng-sentiment-analysis-lince/README.md
Labels: model card

#7067 Create model card
  model_cards/microsoft/layoutlm-large-uncased/README.md
Labels: model card

#7066 Create model card
  model_cards/microsoft/layoutlm-base-uncased/README.md
Labels: model card

#7089 German electra model card v3 update
  model_cards/german-nlp-group/electra-base-german-uncased/README.md
Labels: model card

#7097 Create README.md
  model_cards/tuner007/pegasus_paraphrase/README.md
Labels: model card

#6975 Created README for labse_bert model card
  model_cards/pvl/labse_bert/README.md
Labels: model card

#7147 Funnel model cards
  model_cards/funnel-transformer/intermediate-base/README.md
  model_cards/funnel-transformer/intermediate/README.md
  model_cards/funnel-transformer/large-base/README.md
  model_cards/funnel-transformer/large/README.md
  model_cards/funnel-transformer/medium-base/README.md
  model_cards/funnel-transformer/medium/README.md
  model_cards/funnel-transformer/small-base/README.md
  model_cards/funnel-transformer/small/README.md
  model_cards/funnel-transformer/xlarge-base/README.md
  model_cards/funnel-transformer/xlarge/README.md
Labels: model card

#7166 Create README.md
  model_cards/antoiloui/belgpt2/README.md
Labels: model card

#6940 [ported model] FSMT (FairSeq MachineTranslation)
  docs/source/index.rst
  docs/source/model_doc/fsmt.rst
  examples/seq2seq/test_data/fsmt/build-eval-data.py
  examples/seq2seq/test_data/fsmt/fsmt_val_data.json
  examples/seq2seq/test_fsmt_bleu_score.py
  model_cards/facebook/wmt19-de-en/README.md
  model_cards/facebook/wmt19-en-de/README.md
  model_cards/facebook/wmt19-en-ru/README.md
  model_cards/facebook/wmt19-ru-en/README.md
  src/transformers/__init__.py
  src/transformers/configuration_auto.py
  src/transformers/configuration_fsmt.py
  src/transformers/convert_fsmt_original_pytorch_checkpoint_to_pytorch.py
  src/transformers/modeling_auto.py
  src/transformers/modeling_fsmt.py
  src/transformers/tokenization_auto.py
  src/transformers/tokenization_fsmt.py
  tests/test_modeling_fsmt.py
  tests/test_tokenization_fsmt.py
Labels: model card

#7153 [model cards] ported allenai Deep Encoder, Shallow Decoder models
  model_cards/allenai/wmt16-en-de-12-1/README.md
  model_cards/allenai/wmt16-en-de-dist-12-1/README.md
  model_cards/allenai/wmt16-en-de-dist-6-1/README.md
  model_cards/allenai/wmt19-de-en-6-6-base/README.md
  model_cards/allenai/wmt19-de-en-6-6-big/README.md
  scripts/fsmt/gen-card-allenai-wmt19.py
Labels: model card

#7207 [model cards] fix yaml in cards
  model_cards/allenai/wmt16-en-de-12-1/README.md
  model_cards/allenai/wmt16-en-de-dist-12-1/README.md
  model_cards/allenai/wmt16-en-de-dist-6-1/README.md
  model_cards/allenai/wmt19-de-en-6-6-base/README.md
  model_cards/allenai/wmt19-de-en-6-6-big/README.md
  model_cards/facebook/wmt19-de-en/README.md
  model_cards/facebook/wmt19-en-de/README.md
  model_cards/facebook/wmt19-en-ru/README.md
  model_cards/facebook/wmt19-ru-en/README.md
  scripts/fsmt/gen-card-allenai-wmt16.py
  scripts/fsmt/gen-card-allenai-wmt19.py
  scripts/fsmt/gen-card-facebook-wmt19.py
  src/transformers/modeling_fsmt.py
Labels: model card

#7218 [model cards] fix metadata - 3rd attempt
  model_cards/allenai/wmt16-en-de-12-1/README.md
  model_cards/allenai/wmt16-en-de-dist-12-1/README.md
  model_cards/allenai/wmt16-en-de-dist-6-1/README.md
  model_cards/allenai/wmt19-de-en-6-6-base/README.md
  model_cards/allenai/wmt19-de-en-6-6-big/README.md
  model_cards/facebook/wmt19-de-en/README.md
  model_cards/facebook/wmt19-en-de/README.md
  model_cards/facebook/wmt19-en-ru/README.md
  model_cards/facebook/wmt19-ru-en/README.md
  scripts/fsmt/gen-card-allenai-wmt16.py
  scripts/fsmt/gen-card-allenai-wmt19.py
  scripts/fsmt/gen-card-facebook-wmt19.py
Labels: model card

#7095 Create README.md
  model_cards/tuner007/pegasus_qa/README.md
Labels: model card

#7178 Create README.md for indobert-base-p2
  model_cards/indobenchmark/indobert-base-p2/README.md
Labels: model card

#7179 Create README.md for indobert-base-p1 model card
  model_cards/indobenchmark/indobert-base-p1/README.md
Labels: model card

#7180 Create README.md for indobert-large-p1 model card
  model_cards/indobenchmark/indobert-large-p1/README.md
Labels: model card

#7181 Create README.md for indobert-large-p2 model card
  model_cards/indobenchmark/indobert-large-p2/README.md
Labels: model card

#7185 Create README.md for indobert-lite-large-p2
  model_cards/indobenchmark/indobert-lite-large-p2/README.md
Labels: model card

#7183 Create README.md for indobert-lite-base phase 2 model card
  model_cards/indobenchmark/indobert-lite-base-p2/README.md
Labels: model card

#7184 Create README.md for indobert-lite-large-p1
  model_cards/indobenchmark/indobert-lite-large-p1/README.md
Labels: model card

#7182 Create README.md for indobert-lite-base-p1
  model_cards/indobenchmark/indobert-lite-base-p1/README.md
Labels: model card

#7212 Create README.md
  model_cards/mrm8488/camembert-base-finetuned-pawsx-fr/README.md
Labels: model card

#7210 Create README.md
  model_cards/mrm8488/RuPERTa-base-finetuned-pawsx-es/README.md
Labels: model card

#7209 Create README.md
  model_cards/mrm8488/electricidad-base-finetuned-pawsx-es/README.md
Labels: model card

#7204 Add customized text to widget
  model_cards/mrm8488/electricidad-base-generator/README.md
Labels: model card

#7205 Create README.md
  model_cards/mrm8488/GuaPeTe-2-tiny/README.md
Labels: model card

#6129 Add new pre-trained models BERTweet and PhoBERT
  model_cards/vinai/bertweet-base/README.md
  model_cards/vinai/phobert-base/README.md
  model_cards/vinai/phobert-large/README.md
  src/transformers/__init__.py
  src/transformers/tokenization_auto.py
  src/transformers/tokenization_bertweet.py
  src/transformers/tokenization_phobert.py
  tests/test_tokenization_bertweet.py
  tests/test_tokenization_phobert.py
Labels: model card

#7239 Create README.md
  model_cards/mrm8488/bert-base-german-dbmdz-cased-finetuned-pawsx-de/README.md
Labels: model card

#7240 Add title to model card
  model_cards/mrm8488/electricidad-base-finetuned-pawsx-es/README.md
Labels: model card

#7244 fsmt tiny model card + script
  model_cards/stas/tiny-wmt19-en-de/README.md
  scripts/fsmt/fsmt-make-tiny-model.py
Labels: model card

#7221 model card improvements
  model_cards/allenai/wmt16-en-de-12-1/README.md
  model_cards/allenai/wmt16-en-de-dist-12-1/README.md
  model_cards/allenai/wmt16-en-de-dist-6-1/README.md
  model_cards/allenai/wmt19-de-en-6-6-base/README.md
  model_cards/allenai/wmt19-de-en-6-6-big/README.md
  model_cards/facebook/wmt19-de-en/README.md
  model_cards/facebook/wmt19-en-de/README.md
  model_cards/facebook/wmt19-en-ru/README.md
  model_cards/facebook/wmt19-ru-en/README.md
  scripts/fsmt/gen-card-allenai-wmt16.py
  scripts/fsmt/gen-card-allenai-wmt19.py
  scripts/fsmt/gen-card-facebook-wmt19.py
Labels: model card

#7278 [model card] distlbart-mnli model cards
  model_cards/valhalla/distilbart-mnli-12-1/README.md
  model_cards/valhalla/distilbart-mnli-12-3/README.md
  model_cards/valhalla/distilbart-mnli-12-6/README.md
  model_cards/valhalla/distilbart-mnli-12-9/README.md
Labels: model card

#7263 [s2s] adjust finetune + test to work with fsmt
  examples/seq2seq/finetune.py
  examples/seq2seq/test_seq2seq_examples.py
Labels: fsmt

#7283 IXAmBERT model card
  model_cards/ixa-ehu/ixambert-base-cased/README.md
Labels: model card

#7286 Added RobBERT-v2 model card
  model_cards/pdelobelle/robbert-v2-dutch-base/README.md
Labels: model card

#7064 Add LayoutLM Model
  README.md
  docs/source/index.rst
  docs/source/model_doc/layoutlm.rst
  docs/source/pretrained_models.rst
  src/transformers/__init__.py
  src/transformers/activations.py
  src/transformers/configuration_auto.py
  src/transformers/configuration_layoutlm.py
  src/transformers/modeling_auto.py
  src/transformers/modeling_layoutlm.py
  src/transformers/tokenization_auto.py
  src/transformers/tokenization_layoutlm.py
  tests/test_modeling_layoutlm.py
  tests/test_tokenization_layoutlm.py
Labels: model card

#7313 Fixed results of SQuAD-FR evaluation
  model_cards/etalab-ia/camembert-base-squadFR-fquad-piaf/README.md
Labels: model card

#7317 Create README.md
  model_cards/blinoff/roberta-base-russian-v0/README.md
Labels: model card

#7257 [fsmt] build/test scripts
  scripts/fsmt/convert-allenai-wmt16.sh
  scripts/fsmt/convert-allenai-wmt19.sh
  scripts/fsmt/convert-facebook-wmt19.sh
  scripts/fsmt/eval-allenai-wmt16.sh
  scripts/fsmt/eval-allenai-wmt19.sh
  scripts/fsmt/eval-facebook-wmt19.sh
  scripts/fsmt/s3-move.sh
  scripts/fsmt/tests-to-run.sh
Labels: fsmt

#7381 modeling_bart: 3 small cleanups that dont change outputs
  src/transformers/modeling_bart.py
  tests/test_modeling_mbart.py
Labels: cleanup

#7429 Update README.md
  model_cards/mrm8488/electricidad-base-discriminator/README.md
Labels: model card

#7436 Create README.md
  model_cards/TypicaAI/magbert-ner/README.md
Labels: model card

#7444 Update README.md
  model_cards/unideeplearning/polibert_sa/README.md
Labels: model card

#5929 Add DeBERTa model
  README.md
  docs/source/index.rst
  docs/source/model_doc/deberta.rst
  docs/source/pretrained_models.rst
  model_cards/microsoft/DeBERTa-base/README.md
  model_cards/microsoft/DeBERTa-large/README.md
  src/transformers/__init__.py
  src/transformers/activations.py
  src/transformers/configuration_auto.py
  src/transformers/configuration_deberta.py
  src/transformers/modeling_auto.py
  src/transformers/modeling_deberta.py
  src/transformers/tokenization_auto.py
  src/transformers/tokenization_deberta.py
  tests/test_modeling_deberta.py
  tests/test_tokenization_deberta.py
Labels: New model, model card
