Repository huggingface/transformers, pull requests merged in 2020-10, with the labels that each got.

#7440 creating readme for bert-base-mongolian-uncased
  model_cards/bayartsogt/bert-base-mongolian-uncased/README.md
Labels: model card

#7439 Creating readme for bert-base-mongolian-cased
  model_cards/bayartsogt/bert-base-mongolian-cased/README.md
Labels: model card

#7349 Create README.md
  model_cards/akhooli/personachat-arabic/README.md
Labels: model card

#7491 Update README.md
  model_cards/ahotrod/albert_xxlargev1_squad2_512/README.md
Labels: model card

#7468 Create README.md
  model_cards/allenyummy/chinese-bert-wwm-ehr-ner-sl/README.md
Labels: model card

#7459 Update README.md
  model_cards/digitalepidemiologylab/covid-twitter-bert/README.md
Labels: model card

#7299 Create README.md
  model_cards/adalbertojunior/PTT5-SMALL-SUM/README.md
Labels: model card

#7083 SqueezeBERT architecture
  README.md
  docs/source/index.rst
  docs/source/model_doc/squeezebert.rst
  docs/source/pretrained_models.rst
  model_cards/squeezebert/squeezebert-mnli-headless/README.md
  model_cards/squeezebert/squeezebert-mnli/README.md
  model_cards/squeezebert/squeezebert-uncased/README.md
  src/transformers/__init__.py
  src/transformers/configuration_auto.py
  src/transformers/configuration_squeezebert.py
  src/transformers/modeling_auto.py
  src/transformers/modeling_squeezebert.py
  src/transformers/tokenization_auto.py
  src/transformers/tokenization_squeezebert.py
  templates/adding_a_new_model/README.md
  templates/adding_a_new_model/modeling_xxx.py
  tests/test_modeling_squeezebert.py
  tests/test_tokenization_squeezebert.py
Labels: model card

#7568 [Model card] Java Code Summarizer model
  model_cards/ncoop57/bart-base-code-summarizer-java-v0/README.md
Labels: model card

#7555 Update Code example according to deprecation of AutoModeWithLMHead
  model_cards/microsoft/DialoGPT-large/README.md
  model_cards/microsoft/DialoGPT-medium/README.md
  model_cards/microsoft/DialoGPT-small/README.md
Labels: model card

#7606 Add ProtT5-XL-BFD model card
  model_cards/Rostlab/prot_t5_xl_bfd/README.md
Labels: model card

#7607 Create README.md (LEGAL-BERT Model card)
  model_cards/nlpaueb/legal-bert-base-uncased/README.md
Labels: model card

#7612 updating modelcard with training dataset information.
  model_cards/cedpsam/chatbot_fr/README.md
Labels: model card

#7611 typo fix
  model_cards/Rostlab/prot_t5_xl_bfd/README.md
Labels: model card

#7544 Create Model Card For "abhilash1910/french-roberta" Model
  model_cards/abhilash1910/french-roberta/README.md
Labels: model card

#7629 Update model card - Fix arxiv link
  model_cards/nlpaueb/legal-bert-base-uncased/README.md
Labels: model card

#7590 Update README.md
  model_cards/cimm-kzn/rudr-bert/README.md
Labels: model card

#7581 Create README.md
  model_cards/akhooli/xlm-r-large-arabic-toxic/README.md
Labels: model card

#7573 [model_card] bert-base-5lang-cased
  model_cards/amine/bert-base-5lang-cased/README.md
Labels: model card

#7558 [Model card] SinhalaBERTo model.
  model_cards/keshan/SinhalaBERTo/README.md
Labels: model card

#7640 Create README.md for IsRoBERTa language model
  model_cards/neurocode/IsRoBERTa/README.md
Labels: model card

#7603 Added model cards for Tagalog BERT models
  model_cards/jcblaise/bert-tagalog-base-cased-WWM/README.md
  model_cards/jcblaise/bert-tagalog-base-cased/README.md
  model_cards/jcblaise/bert-tagalog-base-uncased-WWM/README.md
  model_cards/jcblaise/bert-tagalog-base-uncased/README.md
  model_cards/jcblaise/distilbert-tagalog-base-cased/README.md
Labels: model card

#7688 Adds license information for default and distilbert models
  model_cards/distilbert-base-cased-README.md
  model_cards/distilbert-base-cased-distilled-squad-README.md
  model_cards/distilbert-base-german-cased-README.md
  model_cards/distilbert-base-uncased-distilled-squad-README.md
  model_cards/distilbert-base-uncased-finetuned-sst-2-english-README.md
  model_cards/facebook/bart-large-mnli/README.md
Labels: model card

#7738 Add license info to nlptown/bert-base-multilingual-uncased-sentiment
  model_cards/nlptown/bert-base-multilingual-uncased-sentiment/README.md
Labels: model card

#7709 [marian] Automate Tatoeba-Challenge conversion
  .gitignore
  examples/seq2seq/test_tatoeba_conversion.py
  scripts/tatoeba/README.md
  src/transformers/convert_marian_tatoeba_to_pytorch.py
  src/transformers/convert_marian_to_pytorch.py
Labels: marian

#7775 Create README.md
  model_cards/huawei-noah/TinyBERT_General_4L_312D/README.md
Labels: model card

#7790 updated bangla-bert-base model card with evaluation results
  model_cards/sagorsarker/bangla-bert-base/README.md
Labels: model card

#7722 Create Model-card for LIMIT-BERT
  model_cards/cooelf/limit-bert/README.md
Labels: model card

#7748 Create README.md
  model_cards/sarahlintang/IndoBERT/README.md
Labels: model card

#7752 Model Card
  model_cards/sentence-transformers/LaBSE/README.md
Labels: model card

#7799 model card for bert-base-NER
  model_cards/dslim/bert-base-NER/README.md
Labels: model card

#7798 Herbert polish model
  model_cards/allegro/herbert-base-cased/README.md
  model_cards/allegro/herbert-large-cased/README.md
  src/transformers/__init__.py
  src/transformers/convert_slow_tokenizer.py
  src/transformers/tokenization_herbert.py
  tests/test_tokenization_herbert.py
Labels: model card

#7868 Julibert model card
  model_cards/jordimas/julibert/README.md
Labels: model card

#7930 update model cards of Illuin models
  model_cards/illuin/camembert-base-fquad/README.md
  model_cards/illuin/camembert-large-fquad/README.md
  model_cards/illuin/lepetit/README.md
Labels: model card

#7899 Create README.md
  model_cards/mrm8488/t5-base-finetuned-common_gen/README.md
Labels: model card

#7870 Add missing comma
  model_cards/mrm8488/t5-base-finetuned-question-generation-ap/README.md
Labels: model card

#7625 Create README.md
  model_cards/lanwuwei/GigaBERT-v3-Arabic-and-English/README.md
Labels: model card

#7819 Create README.md
  model_cards/Michau/t5-base-en-generate-headline/README.md
Labels: model card

#7855 Model card for German BERT fine-tuned for LER/NER
  model_cards/mrm8488/bert-base-german-finetuned-ler/README.md
Labels: model card

#7857 Create README.md
  model_cards/cambridgeltl/BioRedditBERT-uncased/README.md
Labels: model card

#7867 Add AI-SOCO models
  model_cards/aliosm/ai-soco-c++-roberta-small-clas/README.md
  model_cards/aliosm/ai-soco-c++-roberta-small/README.md
  model_cards/aliosm/ai-soco-c++-roberta-tiny-96-clas/README.md
  model_cards/aliosm/ai-soco-c++-roberta-tiny-96/README.md
  model_cards/aliosm/ai-soco-c++-roberta-tiny-clas/README.md
  model_cards/aliosm/ai-soco-c++-roberta-tiny/README.md
Labels: model card

#7281 [seq2seq testing] multigpu test run via subprocess
  examples/lightning_base.py
  examples/seq2seq/distillation.py
  examples/seq2seq/finetune.py
  examples/seq2seq/finetune_trainer.py
  examples/seq2seq/test_seq2seq_examples_multi_gpu.py
  examples/seq2seq/utils.py
Labels: Distributed Training / Models, Tests

#7978 Disable inference API for t5-11b
  model_cards/t5-11b-README.md
Labels: model card

#7983 add zero shot pipeline tags & examples
  model_cards/facebook/bart-large-mnli/README.md
  model_cards/joeddav/bart-large-mnli-yahoo-answers/README.md
  model_cards/joeddav/xlm-roberta-large-xnli/README.md
  model_cards/valhalla/distilbart-mnli-12-1/README.md
  model_cards/valhalla/distilbart-mnli-12-3/README.md
  model_cards/valhalla/distilbart-mnli-12-6/README.md
  model_cards/valhalla/distilbart-mnli-12-9/README.md
Labels: model card

#7992 update zero shot default widget example
  model_cards/facebook/bart-large-mnli/README.md
Labels: model card

#7952 model card for German Sentence Embeddings V2
  model_cards/T-Systems-onsite/bert-german-dbmdz-uncased-sentence-stsb/README.md
  model_cards/T-Systems-onsite/german-roberta-sentence-transformer-v2/README.md
Labels: model card

#7996 Added model cards for Tagalog ELECTRA models
  model_cards/jcblaise/electra-tagalog-base-cased-discriminator/README.md
  model_cards/jcblaise/electra-tagalog-base-cased-generator/README.md
  model_cards/jcblaise/electra-tagalog-base-uncased-discriminator/README.md
  model_cards/jcblaise/electra-tagalog-base-uncased-generator/README.md
  model_cards/jcblaise/electra-tagalog-small-cased-discriminator/README.md
  model_cards/jcblaise/electra-tagalog-small-cased-generator/README.md
  model_cards/jcblaise/electra-tagalog-small-uncased-discriminator/README.md
  model_cards/jcblaise/electra-tagalog-small-uncased-generator/README.md
Labels: model card

#7997 Create README.md
  model_cards/huawei-noah/DynaBERT_SST-2/README.md
Labels: model card

#8003 Create model card for bert-italian-cased-finetuned-pos
  model_cards/sachaarbonel/bert-italian-cased-finetuned-pos/README.md
Labels: model card

#7864 Create model card for pre-trained NLI models.
  model_cards/ynie/roberta-large-snli_mnli_fever_anli_R1_R2_R3-nli/README.md
Labels: model card

#8025 Create README.md
  model_cards/DJSammy/bert-base-danish-uncased_BotXO,ai/README.md
Labels: model card

#8033 [cleanup] pegasus,marian,mbart pytorch tests
  tests/test_modeling_marian.py
  tests/test_modeling_mbart.py
  tests/test_modeling_pegasus.py
Labels: Tests, cleanup

#8051 minor model card description updates
  model_cards/joeddav/xlm-roberta-large-xnli/README.md
Labels: model card

#8026 [Model Card] new cross lingual sentence model for German and English
  model_cards/T-Systems-onsite/bert-german-dbmdz-uncased-sentence-stsb/README.md
  model_cards/T-Systems-onsite/cross-en-de-roberta-sentence-transformer/README.md
  model_cards/T-Systems-onsite/german-roberta-sentence-transformer-v2/README.md
Labels: model card

#8015 Create README.md
  model_cards/mrm8488/squeezebert-finetuned-squadv1/README.md
Labels: model card

#8017 Create README.md
  model_cards/mrm8488/squeezebert-finetuned-squadv2/README.md
Labels: model card

#8038 Model Card for Gujarati-XLM-R-Base
  model_cards/ashwani-tanwar/Gujarati-XLM-R-Base/README.md
Labels: model card

#8041 Create model cards for guwenbert
  model_cards/ethanyt/guwenbert-base/README.md
  model_cards/ethanyt/guwenbert-large/README.md
Labels: model card

#8075 Create README.md
  model_cards/gurkan08/bert-turkish-text-classification/README.md
Labels: model card

#8088 Create README.md
  model_cards/cimm-kzn/enrudr-bert/README.md
Labels: model card

#8089 Create README.md
  model_cards/cimm-kzn/endr-bert/README.md
Labels: model card

#7969 Add model_cards
  model_cards/deepset/gbert-base/README.md
  model_cards/deepset/gbert-large/README.md
  model_cards/deepset/gelectra-base-generator/README.md
  model_cards/deepset/gelectra-base/README.md
  model_cards/deepset/gelectra-large-generator/README.md
  model_cards/deepset/gelectra-large/README.md
Labels: model card

#8090 Update README.md
  model_cards/cimm-kzn/rudr-bert/README.md
Labels: model card
