Repository huggingface/transformers, pull requests merged in 2020-02, with the labels that each got.

#2791 Create BERT-of-Theseus model card
  model_cards/canwenxu/BERT-of-Theseus-MNLI/README.md
Labels: model card

#2799 Add model readme for bert-base-german-cased
  model_cards/bert-base-german-cased-README.md
Labels: model card

#2797 Add model readme for deepset/roberta-base-squad2
  model_cards/deepset/roberta-base-squad2/README.md
Labels: model card

#2785 Create README.md
  model_cards/ahotrod/albert_xxlargev1_squad2_512/README.md
Labels: model card

#2793 Fix circleci cuInit error on Tensorflow >= 2.1.0.
  .circleci/config.yml
  setup.py
Labels: Tests

#2805 [model_cards] Add new German Europeana BERT models
  model_cards/dbmdz/bert-base-german-europeana-cased/README.md
  model_cards/dbmdz/bert-base-german-europeana-uncased/README.md
Labels: model card

#2819 Create card for model bert-base-spanish-wwm-cased-finetuned-spa-squad2-es.md
  model_cards/mrm8488/bert-base-spanish-wwm-cased-finetuned-spa-squad2-es.md
Labels: model card

#2843 Model card: Literary German BERT
  model_cards/severinsimmler/literary-german-bert/README.md
  model_cards/severinsimmler/literary-german-bert/kfold.png
  model_cards/severinsimmler/literary-german-bert/prosa-jahre.png
Labels: model card

#2833 add model_card flaubert-base-uncased-squad
  model_cards/fmikaelian/flaubert-base-uncased-squad/README.md
Labels: model card

#2859 Added model card for bert-base-multilingual-uncased-sentiment
  model_cards/nlptown/bert-base-multilingual-uncased-sentiment/README.md
Labels: model card

#2875 Update README.md
  model_cards/mrm8488/distill-bert-base-spanish-wwm-cased-finetuned-spa-squad2-es/README.md
Labels: model card

#2879 [model_cards] 🇹🇷 Add new (cased) BERTurk model
  model_cards/dbmdz/bert-base-turkish-cased/README.md
Labels: model card

#2883 Create README.md in the right path for bert-spanish-cased-finetuned-ner
  model_cards/mrm8488/bert-spanish-cased-finetuned-ner/README.md
Labels: model card

#2892 Create README.md
  model_cards/binwang/xlnet-base-cased/README.md
Labels: model card

#2745 Add BartModel
  docs/source/index.rst
  docs/source/model_doc/bart.rst
  docs/source/pretrained_models.rst
  examples/summarization/modeling_bertabs.py
  src/transformers/__init__.py
  src/transformers/configuration_auto.py
  src/transformers/configuration_bart.py
  src/transformers/convert_bart_original_pytorch_checkpoint_to_pytorch.py
  src/transformers/modeling_auto.py
  src/transformers/modeling_bart.py
  src/transformers/modeling_encoder_decoder.py
  src/transformers/modeling_roberta.py
  src/transformers/modeling_utils.py
  src/transformers/tokenization_auto.py
  src/transformers/tokenization_bart.py
  src/transformers/utils_encoder_decoder.py
  tests/test_modeling_bart.py
  tests/test_modeling_common.py
  tests/test_modeling_roberta.py
  tests/test_modeling_t5.py
Labels: seq2seq

#2924 Update modeling_tf_utils.py
  src/transformers/modeling_tf_utils.py
Labels: Documentation

#2951 Update modelcard of bert-base-german-cased
  model_cards/bert-base-german-cased-README.md
Labels: model card
