Repository huggingface/transformers, pull requests merged in 2021-03, with the labels that each got.

#10236 Add m2m100
  README.md
  docs/source/index.rst
  docs/source/model_doc/m2m_100.rst
  docs/source/pretrained_models.rst
  src/transformers/__init__.py
  src/transformers/models/__init__.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/m2m_100/__init__.py
  src/transformers/models/m2m_100/configuration_m2m_100.py
  src/transformers/models/m2m_100/convert_m2m100_original_checkpoint_to_pytorch.py
  src/transformers/models/m2m_100/modeling_m2m_100.py
  src/transformers/models/m2m_100/tokenization_m2m_100.py
  src/transformers/utils/dummy_pt_objects.py
  tests/test_modeling_m2m_100.py
  tests/test_tokenization_m2m_100.py
  utils/check_repo.py
Labels: PR for Model Addition

#10596 Fairscale FSDP fix model save
  examples/tests/trainer/test_trainer_ext.py
  src/transformers/trainer.py
Labels: fairscale

#9624 [wip] [deepspeed] AdamW is now supported by default
  docs/source/main_classes/trainer.rst
  examples/tests/deepspeed/ds_config.json
  src/transformers/integrations.py
Labels: DeepSpeed

#10464 [Deepspeed] Allow HF optimizer and scheduler to be passed to deepspeed
  docs/source/main_classes/trainer.rst
  examples/tests/deepspeed/test_deepspeed.py
  src/transformers/integrations.py
  src/transformers/testing_utils.py
  src/transformers/trainer.py
  src/transformers/training_args.py
Labels: DeepSpeed

#10762 [DeepSpeed] simplify init
  src/transformers/integrations.py
Labels: DeepSpeed

#10760 [DeepSpeed] improve checkpoint loading code plus tests
  examples/tests/deepspeed/test_deepspeed.py
  src/transformers/integrations.py
  src/transformers/trainer.py
  tests/test_trainer.py
Labels: DeepSpeed
