Repository huggingface/transformers, pull requests merged in 2021-01, with the labels that each got.

#9354 [test_model_parallelization] multiple fixes
  tests/test_modeling_common.py
Labels: Model Parallel

#9347 [trainer] --model_parallel hasn't been implemented for most models
  src/transformers/modeling_utils.py
  src/transformers/models/gpt2/modeling_gpt2.py
  src/transformers/models/t5/modeling_t5.py
  src/transformers/trainer.py
  src/transformers/training_args.py
Labels: Model Parallel

#9150 Add flags to return scores, hidden states and / or attention weights in GenerationMixin
  docs/source/internal/generation_utils.rst
  src/transformers/configuration_utils.py
  src/transformers/generation_beam_search.py
  src/transformers/generation_utils.py
  src/transformers/models/openai/configuration_openai.py
  tests/test_generation_beam_search.py
  tests/test_generation_utils.py
  tests/test_modeling_reformer.py
  tests/test_modeling_transfo_xl.py
  tests/test_modeling_xlm.py
  tests/test_modeling_xlnet.py
Labels: Core: Modeling, Ex: Generation

#9622 [deepspeed] --gradient_accumulation_steps fix
  examples/seq2seq/test_finetune_trainer.py
  src/transformers/trainer.py
Labels: DeepSpeed

#9736 [fsmt] token_type_ids isn't used
  src/transformers/models/fsmt/tokenization_fsmt.py
Labels: fsmt

#9717 ConvBERT Model
  README.md
  docs/source/index.rst
  docs/source/model_doc/convbert.rst
  docs/source/model_summary.rst
  src/transformers/__init__.py
  src/transformers/convert_slow_tokenizer.py
  src/transformers/modeling_tf_pytorch_utils.py
  src/transformers/models/__init__.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/auto/modeling_tf_auto.py
  src/transformers/models/auto/tokenization_auto.py
  src/transformers/models/convbert/__init__.py
  src/transformers/models/convbert/configuration_convbert.py
  src/transformers/models/convbert/convert_convbert_original_tf1_checkpoint_to_pytorch.py
  src/transformers/models/convbert/modeling_convbert.py
  src/transformers/models/convbert/modeling_tf_convbert.py
  src/transformers/models/convbert/tokenization_convbert.py
  src/transformers/models/convbert/tokenization_convbert_fast.py
  src/transformers/utils/dummy_pt_objects.py
  src/transformers/utils/dummy_tf_objects.py
  src/transformers/utils/dummy_tokenizers_objects.py
  tests/test_modeling_convbert.py
  tests/test_modeling_tf_convbert.py
  utils/check_repo.py
Labels: Core: Modeling, PR for Model Addition

#9813 ADD BORT
  README.md
  docs/source/index.rst
  docs/source/model_doc/bort.rst
  docs/source/model_doc/dialogpt.rst
  src/transformers/models/bort/convert_bort_original_gluonnlp_checkpoint_to_pytorch.py
  tests/test_modeling_bort.py
  tests/test_modeling_tf_bort.py
Labels: PR for Model Addition
