Repository huggingface/transformers, pull requests merged in 2021-06, with the labels that each got.

#11883 Add FlaxCLIP
  docs/source/index.rst
  docs/source/model_doc/clip.rst
  src/transformers/__init__.py
  src/transformers/modeling_flax_pytorch_utils.py
  src/transformers/modeling_flax_utils.py
  src/transformers/models/auto/modeling_flax_auto.py
  src/transformers/models/clip/__init__.py
  src/transformers/models/clip/configuration_clip.py
  src/transformers/models/clip/modeling_flax_clip.py
  src/transformers/utils/dummy_flax_objects.py
  tests/test_modeling_flax_clip.py
  tests/test_modeling_flax_common.py
  utils/check_repo.py
Labels: Flax

#11971 ByT5 model
  README.md
  docs/source/index.rst
  docs/source/model_doc/byt5.rst
  src/transformers/__init__.py
  src/transformers/models/auto/tokenization_auto.py
  src/transformers/models/byt5/__init__.py
  src/transformers/models/byt5/convert_byt5_original_tf_checkpoint_to_pytorch.py
  src/transformers/models/byt5/tokenization_byt5.py
  src/transformers/models/t5/modeling_tf_t5.py
  tests/test_modeling_t5.py
  tests/test_modeling_tf_t5.py
  tests/test_tokenization_byt5.py
Labels: New model

#10534 VisualBERT
  README.md
  docs/source/index.rst
  docs/source/model_doc/visual_bert.rst
  src/transformers/__init__.py
  src/transformers/models/__init__.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/visual_bert/__init__.py
  src/transformers/models/visual_bert/configuration_visual_bert.py
  src/transformers/models/visual_bert/convert_visual_bert_original_pytorch_checkpoint_to_pytorch.py
  src/transformers/models/visual_bert/modeling_visual_bert.py
  src/transformers/utils/dummy_pt_objects.py
  tests/test_modeling_visual_bert.py
  utils/check_repo.py
Labels: WIP

#11049 [docs] fix xref to `PreTrainedModel.generate`
  docs/source/internal/generation_utils.rst
  docs/source/model_doc/bart.rst
  docs/source/model_doc/t5.rst
  docs/source/task_summary.rst
  src/transformers/models/rag/modeling_rag.py
  src/transformers/models/rag/modeling_tf_rag.py
Labels: WIP

#11984 [deepspeed] Move code and doc into standalone files
  docs/source/main_classes/deepspeed.rst
  docs/source/main_classes/trainer.rst
  src/transformers/deepspeed.py
  src/transformers/integrations.py
  src/transformers/modeling_utils.py
  src/transformers/models/auto/auto_factory.py
  src/transformers/trainer.py
  src/transformers/trainer_seq2seq.py
  src/transformers/training_args.py
  tests/deepspeed/test_deepspeed.py
Labels: DeepSpeed

#11997 [deepspeed] add nvme test skip rule
  tests/deepspeed/test_deepspeed.py
Labels: DeepSpeed

#11964 Fix weight decay masking in `run_flax_glue.py`
  examples/flax/text-classification/README.md
  examples/flax/text-classification/run_flax_glue.py
Labels: Flax

#12058 [Deepspeed] various fixes
  docs/source/main_classes/deepspeed.rst
  src/transformers/deepspeed.py
  tests/deepspeed/ds_config_zero2.json
  tests/deepspeed/ds_config_zero3.json
  tests/deepspeed/test_deepspeed.py
Labels: DeepSpeed

#11951 [Flax] Adding Visual-Transformer
  docs/source/index.rst
  docs/source/model_doc/vit.rst
  src/transformers/__init__.py
  src/transformers/models/auto/__init__.py
  src/transformers/models/auto/modeling_flax_auto.py
  src/transformers/models/vit/__init__.py
  src/transformers/models/vit/modeling_flax_vit.py
  src/transformers/utils/dummy_flax_objects.py
  tests/test_modeling_flax_vit.py
Labels: Flax

#12023 Flax CLM script
  examples/flax/language-modeling/run_clm_flax.py
Labels: Examples, Flax

#11967 Flax Big Bird
  docs/source/index.rst
  docs/source/model_doc/bigbird.rst
  src/transformers/__init__.py
  src/transformers/models/auto/modeling_flax_auto.py
  src/transformers/models/bert/modeling_flax_bert.py
  src/transformers/models/big_bird/__init__.py
  src/transformers/models/big_bird/configuration_big_bird.py
  src/transformers/models/big_bird/modeling_big_bird.py
  src/transformers/models/big_bird/modeling_flax_big_bird.py
  src/transformers/models/bigbird_pegasus/configuration_bigbird_pegasus.py
  src/transformers/models/electra/modeling_flax_electra.py
  src/transformers/models/roberta/modeling_flax_roberta.py
  src/transformers/utils/dummy_flax_objects.py
  tests/test_modeling_flax_big_bird.py
  tests/test_modeling_flax_clip.py
  tests/test_modeling_flax_common.py
  tests/test_modeling_flax_vit.py
Labels: Flax

#11889 Hubert
  README.md
  docs/source/index.rst
  docs/source/model_doc/hubert.rst
  src/transformers/__init__.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/hubert/__init__.py
  src/transformers/models/hubert/configuration_hubert.py
  src/transformers/models/hubert/convert_hubert_original_pytorch_checkpoint_to_pytorch.py
  src/transformers/models/hubert/modeling_hubert.py
  src/transformers/utils/dummy_pt_objects.py
  src/transformers/utils/modeling_auto_mapping.py
  tests/test_modeling_hubert.py
  utils/check_repo.py
Labels: New model

#12255 [Flax] [WIP] allow loading head model with base model weights
  src/transformers/modeling_flax_utils.py
  tests/test_modeling_flax_clip.py
  tests/test_modeling_flax_common.py
Labels: Flax

#12230 Flax summarization script
  examples/flax/summarization/run_summarization_flax.py
Labels: Flax
