Repository huggingface/transformers, pull requests merged in 2021-04, with the labels that each got.

#10753 [DeepSpeed] ZeRO Stage 3
  docs/source/main_classes/trainer.rst
  examples/tests/deepspeed/ds_config_zero2.json
  examples/tests/deepspeed/ds_config_zero3.json
  examples/tests/deepspeed/test_deepspeed.py
  src/transformers/generation_utils.py
  src/transformers/integrations.py
  src/transformers/modeling_utils.py
  src/transformers/trainer.py
  src/transformers/trainer_seq2seq.py
  tests/test_trainer.py
Labels: DeepSpeed

#11374 [Flax] Correct typo
  src/transformers/models/bert/modeling_flax_bert.py
  src/transformers/models/roberta/modeling_flax_roberta.py
Labels: Flax

#11364 [Flax] Big FlaxBert Refactor
  src/transformers/modeling_flax_pytorch_utils.py
  src/transformers/modeling_flax_utils.py
  src/transformers/modeling_utils.py
  src/transformers/models/bert/modeling_flax_bert.py
  src/transformers/models/roberta/modeling_flax_roberta.py
  tests/test_modeling_flax_common.py
Labels: Flax

#11393 [Flax] Typo
  examples/flax/language-modeling/run_mlm_flax.py
Labels: Flax

#11394 [Flax] Correct Flax <=> PyTorch conversion
  src/transformers/modeling_flax_pytorch_utils.py
Labels: Flax

#9964 Add head_mask, decoder_head_mask, cross_head_mask to ProphetNet
  src/transformers/models/prophetnet/modeling_prophetnet.py
  tests/test_modeling_prophetnet.py
Labels: wontfix

#11418 [Deepspeed] ZeRO-Infinity integration plus config revamp
  docs/source/main_classes/trainer.rst
  setup.py
  src/transformers/dependency_versions_table.py
  src/transformers/integrations.py
  src/transformers/modeling_utils.py
  src/transformers/training_args.py
  tests/deepspeed/ds_config_zero2.json
  tests/deepspeed/ds_config_zero3.json
  tests/deepspeed/test_deepspeed.py
  tests/test_trainer.py
Labels: DeepSpeed

#11499 [DeepSpeed] fp32 support
  docs/source/main_classes/trainer.rst
  setup.py
  src/transformers/dependency_versions_table.py
  src/transformers/integrations.py
  src/transformers/modeling_utils.py
  tests/deepspeed/test_deepspeed.py
Labels: DeepSpeed
