Repository huggingface/transformers, pull requests merged in 2022-05, with the labels that each got.

#17044 Update no_trainer examples to use new logger
  examples/pytorch/README.md
  examples/pytorch/image-classification/run_image_classification_no_trainer.py
  examples/pytorch/language-modeling/run_clm_no_trainer.py
  examples/pytorch/language-modeling/run_mlm_no_trainer.py
  examples/pytorch/multiple-choice/run_swag_no_trainer.py
  examples/pytorch/question-answering/run_qa_beam_search_no_trainer.py
  examples/pytorch/question-answering/run_qa_no_trainer.py
  examples/pytorch/semantic-segmentation/run_semantic_segmentation_no_trainer.py
  examples/pytorch/speech-pretraining/run_wav2vec2_pretraining_no_trainer.py
  examples/pytorch/summarization/run_summarization_no_trainer.py
  examples/pytorch/text-classification/run_glue_no_trainer.py
  examples/pytorch/token-classification/run_ner_no_trainer.py
  examples/pytorch/translation/run_translation_no_trainer.py
Labels: PyTorch, Examples

#17046 Fix no_trainer examples to properly calculate the number of samples
  examples/pytorch/image-classification/run_image_classification_no_trainer.py
  examples/pytorch/language-modeling/run_clm_no_trainer.py
  examples/pytorch/language-modeling/run_mlm_no_trainer.py
  examples/pytorch/multiple-choice/run_swag_no_trainer.py
  examples/pytorch/question-answering/run_qa_beam_search_no_trainer.py
  examples/pytorch/question-answering/run_qa_no_trainer.py
  examples/pytorch/semantic-segmentation/run_semantic_segmentation_no_trainer.py
  examples/pytorch/summarization/run_summarization_no_trainer.py
  examples/pytorch/text-classification/run_glue_no_trainer.py
  examples/pytorch/token-classification/run_ner_no_trainer.py
  examples/pytorch/translation/run_translation_no_trainer.py
Labels: PyTorch, Examples

#17084 Update the _test_requirements to use the dev version of Accelerate
  .circleci/config.yml
  examples/pytorch/_tests_requirements.txt
Labels: Tests

#17145 Fix install directions for all docs using no_trainer scripts
  docs/source/en/run_scripts.mdx
  examples/pytorch/image-classification/README.md
  examples/pytorch/multiple-choice/README.md
  examples/pytorch/question-answering/README.md
  examples/pytorch/summarization/README.md
  examples/pytorch/text-classification/README.md
  examples/pytorch/token-classification/README.md
  examples/pytorch/translation/README.md
  examples/research_projects/luke/README.md
Labels: Documentation

#12695 [Deepspeed] add many more models to the model zoo test
  setup.py
  src/transformers/dependency_versions_table.py
  tests/deepspeed/test_deepspeed.py
  tests/deepspeed/test_model_zoo.py
Labels: DeepSpeed, WIP

#17141 Add trajectory transformer
  .gitattributes
  README.md
  README_ko.md
  README_zh-hans.md
  README_zh-hant.md
  docs/source/en/_toctree.yml
  docs/source/en/index.mdx
  docs/source/en/model_doc/trajectory_transformer.mdx
  src/transformers/__init__.py
  src/transformers/models/__init__.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/trajectory_transformer/__init__.py
  src/transformers/models/trajectory_transformer/configuration_trajectory_transformer.py
  src/transformers/models/trajectory_transformer/convert_trajectory_transformer_original_pytorch_checkpoint_to_pytorch.py
  src/transformers/models/trajectory_transformer/modeling_trajectory_transformer.py
  src/transformers/utils/dummy_pt_objects.py
  tests/models/trajectory_transformer/__init__.py
  tests/models/trajectory_transformer/test_modeling_trajectory_transformer.py
Labels: New model

#17331 Fix metric calculation in examples and setup tests to run on multi-gpu for no_trainer scripts
  examples/pytorch/image-classification/run_image_classification_no_trainer.py
  examples/pytorch/multiple-choice/run_swag_no_trainer.py
  examples/pytorch/semantic-segmentation/run_semantic_segmentation_no_trainer.py
  examples/pytorch/summarization/run_summarization_no_trainer.py
  examples/pytorch/test_accelerate_examples.py
  examples/pytorch/text-classification/run_glue_no_trainer.py
  examples/pytorch/token-classification/run_ner_no_trainer.py
  examples/pytorch/translation/run_translation_no_trainer.py
Labels: Examples, bug
