Repository huggingface/transformers, pull requests merged in 2022-11, with the labels that each got.

#20005 Fix dataset in quicktour
  docs/source/en/quicktour.mdx
Labels: Documentation

#17826 Add Jukebox model (replaces #16875)
  README.md
  README_es.md
  README_ja.md
  README_ko.md
  README_zh-hans.md
  README_zh-hant.md
  docs/source/en/_toctree.yml
  docs/source/en/index.mdx
  docs/source/en/model_doc/jukebox.mdx
  src/transformers/__init__.py
  src/transformers/models/__init__.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/auto/tokenization_auto.py
  src/transformers/models/jukebox/__init__.py
  src/transformers/models/jukebox/configuration_jukebox.py
  src/transformers/models/jukebox/convert_jukebox.py
  src/transformers/models/jukebox/modeling_jukebox.py
  src/transformers/models/jukebox/tokenization_jukebox.py
  src/transformers/utils/dummy_pt_objects.py
  tests/models/jukebox/__init__.py
  tests/models/jukebox/test_modeling_jukebox.py
  tests/models/jukebox/test_tokenization_jukebox.py
  utils/check_repo.py
Labels: New model, WIP

#17845 add MobileNetV2 model
  README.md
  README_es.md
  README_ja.md
  README_ko.md
  README_zh-hans.md
  README_zh-hant.md
  docs/source/en/_toctree.yml
  docs/source/en/index.mdx
  docs/source/en/model_doc/mobilenet_v2.mdx
  docs/source/en/serialization.mdx
  src/transformers/__init__.py
  src/transformers/activations.py
  src/transformers/models/__init__.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/feature_extraction_auto.py
  src/transformers/models/auto/image_processing_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/mobilenet_v2/__init__.py
  src/transformers/models/mobilenet_v2/configuration_mobilenet_v2.py
  src/transformers/models/mobilenet_v2/convert_original_tf_checkpoint_to_pytorch.py
  src/transformers/models/mobilenet_v2/feature_extraction_mobilenet_v2.py
  src/transformers/models/mobilenet_v2/image_processing_mobilenet_v2.py
  src/transformers/models/mobilenet_v2/modeling_mobilenet_v2.py
  src/transformers/onnx/features.py
  src/transformers/utils/dummy_pt_objects.py
  src/transformers/utils/dummy_vision_objects.py
  tests/models/mobilenet_v2/__init__.py
  tests/models/mobilenet_v2/test_feature_extraction_mobilenet_v2.py
  tests/models/mobilenet_v2/test_modeling_mobilenet_v2.py
  tests/onnx/test_onnx_v2.py
  utils/documentation_tests.txt
Labels: New model

#20242 Update reqs to include min gather_for_metrics Accelerate version
  examples/pytorch/image-classification/requirements.txt
  examples/pytorch/language-modeling/requirements.txt
  examples/pytorch/multiple-choice/requirements.txt
  examples/pytorch/question-answering/requirements.txt
  examples/pytorch/speech-pretraining/requirements.txt
  examples/pytorch/summarization/requirements.txt
  examples/pytorch/text-classification/requirements.txt
  examples/pytorch/token-classification/requirements.txt
  examples/pytorch/translation/requirements.txt
Labels: Examples

#20286 Fix no trainer summarization script test failure
  examples/pytorch/summarization/run_summarization_no_trainer.py
Labels: Examples

#18781 Add inference section to task guides
  docs/source/en/tasks/asr.mdx
  docs/source/en/tasks/audio_classification.mdx
  docs/source/en/tasks/image_classification.mdx
  docs/source/en/tasks/language_modeling.mdx
  docs/source/en/tasks/multiple_choice.mdx
  docs/source/en/tasks/question_answering.mdx
  docs/source/en/tasks/semantic_segmentation.mdx
  docs/source/en/tasks/sequence_classification.mdx
  docs/source/en/tasks/summarization.mdx
  docs/source/en/tasks/token_classification.mdx
  docs/source/en/tasks/translation.mdx
Labels: Documentation
