Repository huggingface/transformers, pull requests merged in 2022-06, with the labels that each got.

#17153 Extend Transformers Trainer Class to Enable PyTorch Torchscript for Inference
  docs/source/en/_toctree.yml
  docs/source/en/perf_infer_cpu.mdx
  docs/source/en/performance.mdx
  src/transformers/trainer.py
  src/transformers/training_args.py
  tests/trainer/test_trainer.py
Labels: Performance

#17713 TF Sharded
  src/transformers/modeling_tf_utils.py
  src/transformers/utils/__init__.py
  src/transformers/utils/hub.py
  tests/test_modeling_tf_common.py
Labels: TensorFlow, Core: Modeling

#17760 Flax sharded
  src/transformers/modeling_flax_utils.py
  src/transformers/utils/__init__.py
  src/transformers/utils/hub.py
  tests/test_modeling_flax_common.py
Labels: Core: Modeling

#17856 Properly calculate the total train iterations and recalculate num epochs in no_trainer scripts
  examples/pytorch/image-classification/run_image_classification_no_trainer.py
  examples/pytorch/language-modeling/run_clm_no_trainer.py
  examples/pytorch/language-modeling/run_mlm_no_trainer.py
  examples/pytorch/multiple-choice/run_swag_no_trainer.py
  examples/pytorch/question-answering/run_qa_beam_search_no_trainer.py
  examples/pytorch/question-answering/run_qa_no_trainer.py
  examples/pytorch/semantic-segmentation/run_semantic_segmentation_no_trainer.py
  examples/pytorch/speech-pretraining/run_wav2vec2_pretraining_no_trainer.py
  examples/pytorch/summarization/run_summarization_no_trainer.py
  examples/pytorch/text-classification/run_glue_no_trainer.py
  examples/pytorch/token-classification/run_ner_no_trainer.py
  examples/pytorch/translation/run_translation_no_trainer.py
Labels: Examples

#17573 Auto-build Docker images before on-merge if setup.py was changed
  .github/workflows/build-docker-images.yml
  .github/workflows/self-push-caller.yml
Labels: Tests

#17891 Remove DT_DOUBLE from the T5 graph
  src/transformers/models/t5/modeling_tf_t5.py
Labels: TensorFlow

#17354 add MobileViT model
  README.md
  README_ko.md
  README_zh-hans.md
  README_zh-hant.md
  docs/source/en/_toctree.yml
  docs/source/en/index.mdx
  docs/source/en/model_doc/mobilevit.mdx
  docs/source/en/serialization.mdx
  src/transformers/__init__.py
  src/transformers/image_utils.py
  src/transformers/models/__init__.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/feature_extraction_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/mobilevit/__init__.py
  src/transformers/models/mobilevit/configuration_mobilevit.py
  src/transformers/models/mobilevit/convert_mlcvnets_to_pytorch.py
  src/transformers/models/mobilevit/feature_extraction_mobilevit.py
  src/transformers/models/mobilevit/modeling_mobilevit.py
  src/transformers/onnx/features.py
  src/transformers/utils/dummy_pt_objects.py
  src/transformers/utils/dummy_vision_objects.py
  tests/models/mobilevit/__init__.py
  tests/models/mobilevit/test_feature_extraction_mobilevit.py
  tests/models/mobilevit/test_modeling_mobilevit.py
  utils/documentation_tests.txt
Labels: New model
