Repository huggingface/transformers, pull requests merged in 2023-04, with the labels that each got.

#21657 [Examples] TPU-based training of a language model using TensorFlow
  examples/tensorflow/language-modeling-tpu/README.md
  examples/tensorflow/language-modeling-tpu/prepare_tfrecord_shards.py
  examples/tensorflow/language-modeling-tpu/requirements.txt
  examples/tensorflow/language-modeling-tpu/run_mlm.py
  examples/tensorflow/language-modeling-tpu/train_unigram.py
  src/transformers/data/data_collator.py
Labels: TensorFlow, Examples, TPU

#22833 Update accelerate version + warning check fix
  setup.py
  src/transformers/dependency_versions_table.py
  src/transformers/training_args.py
Labels: dependencies, Distributed Training / Models

#22841 Raise err if minimum Accelerate version isn't available
  src/transformers/training_args.py
  src/transformers/utils/import_utils.py
Labels: Distributed Training / Models

#22869 Fixup multigpu local_rank
  src/transformers/training_args.py
Labels: Distributed Training / Models, bug
