Repository huggingface/transformers, pull requests merged in 2024-12, with the labels that each got.

#34889 Fix test_eager_matches_sdpa_inference for XPU backend
  src/transformers/models/nemotron/modeling_nemotron.py
  tests/models/mimi/test_modeling_mimi.py
  tests/models/musicgen/test_modeling_musicgen.py
  tests/models/musicgen_melody/test_modeling_musicgen_melody.py
  tests/test_modeling_common.py
Labels: Tests, bug

#34548 Add token cost + runtime monitoring to Agent and HfEngine children
  src/transformers/agents/agents.py
  src/transformers/agents/llm_engine.py
  src/transformers/agents/monitoring.py
  src/transformers/agents/tools.py
  tests/agents/test_monitoring.py
Labels: Agents

#34454 fix speecht5 failure issue in test_peft_gradient_checkpointing_enable…
  src/transformers/models/speecht5/modeling_speecht5.py
  tests/models/speecht5/test_modeling_speecht5.py
Labels: run-slow

#34537 [Whisper] Fix whisper tokenizer
  src/transformers/models/whisper/generation_whisper.py
  src/transformers/models/whisper/tokenization_whisper.py
  src/transformers/models/whisper/tokenization_whisper_fast.py
  tests/models/whisper/test_modeling_whisper.py
Labels: run-slow

#33125 Add I-JEPA
  docs/source/en/_toctree.yml
  docs/source/en/index.md
  docs/source/en/model_doc/ijepa.md
  docs/source/en/perf_infer_gpu_one.md
  src/transformers/__init__.py
  src/transformers/models/__init__.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/image_processing_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/ijepa/__init__.py
  src/transformers/models/ijepa/configuration_ijepa.py
  src/transformers/models/ijepa/convert_ijepa_to_hf.py
  src/transformers/models/ijepa/modeling_ijepa.py
  src/transformers/models/ijepa/modular_ijepa.py
  src/transformers/utils/dummy_pt_objects.py
  src/transformers/utils/fx.py
  tests/models/ijepa/__init__.py
  tests/models/ijepa/test_modeling_ijepa.py
  utils/check_docstrings.py
Labels: New model, Vision, run-slow, Modular

#35105 Fix signatures for processing kwargs
  src/transformers/models/paligemma/convert_paligemma2_weights_to_hf.py
  src/transformers/models/paligemma/modeling_paligemma.py
  src/transformers/models/paligemma/processing_paligemma.py
  tests/models/paligemma/test_modeling_paligemma.py
  tests/models/paligemma/test_processor_paligemma.py
Labels: run-slow

#34157 Add Aria
  docs/source/en/_toctree.yml
  docs/source/en/index.md
  docs/source/en/model_doc/aria.md
  docs/source/en/model_doc/idefics3.md
  docs/source/en/perf_infer_gpu_one.md
  src/transformers/__init__.py
  src/transformers/generation/utils.py
  src/transformers/models/__init__.py
  src/transformers/models/aria/__init__.py
  src/transformers/models/aria/configuration_aria.py
  src/transformers/models/aria/convert_aria_weights_to_hf.py
  src/transformers/models/aria/image_processing_aria.py
  src/transformers/models/aria/modeling_aria.py
  src/transformers/models/aria/modular_aria.py
  src/transformers/models/aria/processing_aria.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/image_processing_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/auto/processing_auto.py
  src/transformers/models/auto/tokenization_auto.py
  src/transformers/models/idefics3/__init__.py
  src/transformers/utils/dummy_pt_objects.py
  src/transformers/utils/dummy_vision_objects.py
  tests/generation/test_utils.py
  tests/models/aria/__init__.py
  tests/models/aria/test_image_processing_aria.py
  tests/models/aria/test_modeling_aria.py
  tests/models/aria/test_processor_aria.py
  utils/check_config_attributes.py
  utils/check_docstrings.py
  utils/check_repo.py
  utils/modular_model_converter.py
Labels: New model, Multimodal, Mixture of Experts

#35172 [CI] Fix bnb quantization tests with accelerate>=1.2.0
  tests/quantization/bnb/test_4bit.py
  tests/quantization/bnb/test_mixed_int8.py
Labels: Tests, Quantization

#34389 Support BatchNorm in Hubert pos_conv_emb as in fairseq
  src/transformers/models/hubert/configuration_hubert.py
  src/transformers/models/hubert/convert_hubert_original_pytorch_checkpoint_to_pytorch.py
  src/transformers/models/hubert/modeling_hubert.py
  tests/models/hubert/test_modeling_hubert.py
Labels: run-slow

#34564 Add TimmWrapper
  docs/source/en/_toctree.yml
  docs/source/en/index.md
  docs/source/en/model_doc/timm_wrapper.md
  examples/pytorch/image-classification/run_image_classification.py
  src/transformers/__init__.py
  src/transformers/configuration_utils.py
  src/transformers/image_processing_base.py
  src/transformers/modeling_utils.py
  src/transformers/models/__init__.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/image_processing_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/timm_wrapper/__init__.py
  src/transformers/models/timm_wrapper/configuration_timm_wrapper.py
  src/transformers/models/timm_wrapper/image_processing_timm_wrapper.py
  src/transformers/models/timm_wrapper/modeling_timm_wrapper.py
  src/transformers/utils/__init__.py
  src/transformers/utils/dummy_pt_objects.py
  src/transformers/utils/dummy_timm_and_torchvision_objects.py
  src/transformers/utils/generic.py
  tests/models/timm_wrapper/__init__.py
  tests/models/timm_wrapper/test_image_processing_timm_wrapper.py
  tests/models/timm_wrapper/test_modeling_timm_wrapper.py
  tests/test_modeling_common.py
  utils/check_config_docstrings.py
Labels: New model, Vision, run-slow

#35212 Fix FSDP no longer working
  src/transformers/trainer.py
Labels: bug

#34785 Fall back to slow image processor in ImageProcessingAuto when no fast processor available
  docs/source/en/main_classes/image_processor.md
  src/transformers/models/auto/image_processing_auto.py
  src/transformers/models/vit/image_processing_vit_fast.py
  tests/models/auto/test_image_processing_auto.py
  tests/models/detr/test_image_processing_detr.py
  tests/models/rt_detr/test_image_processing_rt_detr.py
  tests/models/vision_text_dual_encoder/test_processor_vision_text_dual_encoder.py
  tests/test_image_processing_common.py
Labels: Vision, Processing

#33736 Add ColPali to 🤗 transformers
  docs/source/en/_toctree.yml
  docs/source/en/index.md
  docs/source/en/model_doc/colpali.md
  src/transformers/__init__.py
  src/transformers/models/__init__.py
  src/transformers/models/auto/__init__.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/auto/processing_auto.py
  src/transformers/models/auto/tokenization_auto.py
  src/transformers/models/colpali/__init__.py
  src/transformers/models/colpali/configuration_colpali.py
  src/transformers/models/colpali/convert_colpali_weights_to_hf.py
  src/transformers/models/colpali/modeling_colpali.py
  src/transformers/models/colpali/modular_colpali.py
  src/transformers/models/colpali/processing_colpali.py
  src/transformers/utils/dummy_pt_objects.py
  tests/models/colpali/__init__.py
  tests/models/colpali/test_modeling_colpali.py
  tests/models/colpali/test_processing_colpali.py
  utils/check_table.py
  utils/update_metadata.py
Labels: New model, Vision, Multimodal, run-slow

#34941 Add sdpa for Beit
  docs/source/en/model_doc/beit.md
  docs/source/en/model_doc/data2vec.md
  docs/source/en/perf_infer_gpu_one.md
  src/transformers/models/beit/modeling_beit.py
  src/transformers/models/data2vec/modeling_data2vec_vision.py
  tests/models/beit/test_modeling_beit.py
  tests/models/data2vec/test_modeling_data2vec_vision.py
Labels: Vision, SDPA, run-slow

#34110 Support for SDPA for SAM models
  src/transformers/models/sam/configuration_sam.py
  src/transformers/models/sam/modeling_sam.py
  tests/models/sam/test_modeling_sam.py
  tests/test_modeling_common.py
Labels: Vision, SDPA, run-slow

#35264 🚨🚨🚨 Limit backtracking in Nougat regexp
  src/transformers/models/nougat/tokenization_nougat_fast.py
Labels: Vision, run-slow, Processing

#34135 [Whisper] 🚨 Fix whisper decoding 🚨
  src/transformers/models/whisper/generation_whisper.py
  tests/models/whisper/test_modeling_tf_whisper.py
  tests/models/whisper/test_modeling_whisper.py
Labels: run-slow

#34713 change bnb tests
  tests/quantization/bnb/test_4bit.py
  tests/quantization/bnb/test_mixed_int8.py
Labels: Quantization

#34495 feat: add `benchmarks_entrypoint.py`
  .github/workflows/benchmark.yml
  benchmark/README.md
  benchmark/benchmarks_entrypoint.py
  benchmark/default.yml
  benchmark/grafana_dashboard.json
  benchmark/grafana_datasource.yaml
  benchmark/init_db.sql
  benchmark/llama.py
Labels: run-benchmark

#34982 Add the Bamba Model
  docs/source/en/_toctree.yml
  docs/source/en/index.md
  docs/source/en/model_doc/bamba.md
  docs/source/en/perf_infer_gpu_one.md
  src/transformers/__init__.py
  src/transformers/generation/utils.py
  src/transformers/models/__init__.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/bamba/__init__.py
  src/transformers/models/bamba/configuration_bamba.py
  src/transformers/models/bamba/convert_mamba_ssm_checkpoint.py
  src/transformers/models/bamba/modeling_bamba.py
  src/transformers/models/bamba/modular_bamba.py
  src/transformers/utils/dummy_pt_objects.py
  tests/generation/test_utils.py
  tests/models/bamba/__init__.py
  tests/models/bamba/test_modeling_bamba.py
  utils/check_config_attributes.py
Labels: New model, run-slow, State space models

#35158 Add ModernBERT to Transformers
  docs/source/en/_toctree.yml
  docs/source/en/index.md
  docs/source/en/model_doc/modernbert.md
  docs/source/en/perf_infer_gpu_one.md
  src/transformers/__init__.py
  src/transformers/loss/loss_utils.py
  src/transformers/models/__init__.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/auto/tokenization_auto.py
  src/transformers/models/modernbert/__init__.py
  src/transformers/models/modernbert/configuration_modernbert.py
  src/transformers/models/modernbert/modeling_modernbert.py
  src/transformers/models/modernbert/modular_modernbert.py
  src/transformers/utils/dummy_pt_objects.py
  src/transformers/utils/import_utils.py
  tests/models/modernbert/__init__.py
  tests/models/modernbert/test_modeling_modernbert.py
  tests/test_modeling_common.py
Labels: New model

#35154 [`Mamba2`] Fix caching, slow path, and multi-gpu
  src/transformers/models/mamba2/modeling_mamba2.py
  tests/models/mamba2/test_modeling_mamba2.py
Labels: run-slow, State space models

#35011 fix zoedepth initialization error under deepspeed zero3
  src/transformers/models/zoedepth/modeling_zoedepth.py
Labels: DeepSpeed, bug, Vision

#35291 bugfix: torch.export failure caused by `_make_causal_mask`
  src/transformers/modeling_attn_mask_utils.py
Labels: torch export

#35322 Improve modular transformers documentation
  docs/source/en/modular_transformers.md
Labels: Documentation, Modular

#34764 owlvit/2 dynamic input resolution.
  src/transformers/models/owlv2/modeling_owlv2.py
  src/transformers/models/owlvit/modeling_owlvit.py
  tests/models/owlv2/test_modeling_owlv2.py
  tests/models/owlvit/test_modeling_owlvit.py
Labels: Vision, run-slow

#35068 bitsandbytes: simplify 8bit dequantization
  src/transformers/integrations/bitsandbytes.py
Labels: Quantization

#34578 uniformize kwargs for SAM
  src/transformers/models/sam/processing_sam.py
  tests/models/sam/test_processor_sam.py
Labels: Vision, Multimodal, Processing

#31512 add bnb support for Ascend NPU
  src/transformers/quantizers/quantizer_bnb_4bit.py
Labels: Quantization

#35348 Add DINOv2 with registers
  docs/source/en/_toctree.yml
  docs/source/en/index.md
  docs/source/en/model_doc/dinov2_with_registers.md
  docs/source/en/perf_infer_gpu_one.md
  src/transformers/__init__.py
  src/transformers/models/__init__.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/dinov2_with_registers/__init__.py
  src/transformers/models/dinov2_with_registers/configuration_dinov2_with_registers.py
  src/transformers/models/dinov2_with_registers/convert_dinov2_with_registers_to_hf.py
  src/transformers/models/dinov2_with_registers/modeling_dinov2_with_registers.py
  src/transformers/models/dinov2_with_registers/modular_dinov2_with_registers.py
  src/transformers/utils/dummy_pt_objects.py
  tests/models/dinov2_with_registers/__init__.py
  tests/models/dinov2_with_registers/test_modeling_dinov2_with_registers.py
  utils/check_repo.py
Labels: New model, Vision
