Repository huggingface/transformers, pull requests merged in 2024-04, with the labels that each got.

#29745 [`StableLm`] Add QK normalization and Parallel Residual Support
  src/transformers/models/stablelm/configuration_stablelm.py
  src/transformers/models/stablelm/modeling_stablelm.py
  tests/models/stablelm/test_modeling_stablelm.py
Labels: New model

#29890 Add OLMo model family
  README.md
  README_de.md
  README_es.md
  README_fr.md
  README_hd.md
  README_ja.md
  README_ko.md
  README_pt-br.md
  README_ru.md
  README_te.md
  README_vi.md
  README_zh-hans.md
  README_zh-hant.md
  docs/source/en/_toctree.yml
  docs/source/en/index.md
  docs/source/en/model_doc/olmo.md
  docs/source/en/perf_infer_gpu_one.md
  docs/source/en/tasks/language_modeling.md
  src/transformers/__init__.py
  src/transformers/models/__init__.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/auto/tokenization_auto.py
  src/transformers/models/deprecated/_archive_maps.py
  src/transformers/models/gpt_neox/tokenization_gpt_neox_fast.py
  src/transformers/models/olmo/__init__.py
  src/transformers/models/olmo/configuration_olmo.py
  src/transformers/models/olmo/convert_olmo_weights_to_hf.py
  src/transformers/models/olmo/modeling_olmo.py
  src/transformers/utils/dummy_pt_objects.py
  tests/models/olmo/__init__.py
  tests/models/olmo/test_modeling_olmo.py
Labels: New model

#29943 Add jamba
  README.md
  README_de.md
  README_es.md
  README_fr.md
  README_hd.md
  README_ja.md
  README_ko.md
  README_pt-br.md
  README_ru.md
  README_te.md
  README_vi.md
  README_zh-hans.md
  README_zh-hant.md
  docs/source/en/_toctree.yml
  docs/source/en/index.md
  docs/source/en/model_doc/jamba.md
  docs/source/en/perf_infer_gpu_one.md
  docs/source/en/tasks/language_modeling.md
  docs/source/en/tasks/sequence_classification.md
  src/transformers/__init__.py
  src/transformers/generation/candidate_generator.py
  src/transformers/generation/utils.py
  src/transformers/models/__init__.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/auto/tokenization_auto.py
  src/transformers/models/jamba/__init__.py
  src/transformers/models/jamba/configuration_jamba.py
  src/transformers/models/jamba/modeling_jamba.py
  src/transformers/utils/dummy_pt_objects.py
  tests/generation/test_utils.py
  tests/models/jamba/__init__.py
  tests/models/jamba/test_modeling_jamba.py
  utils/check_config_attributes.py
  utils/not_doctested.txt
Labels: New model

#29921 Add DBRX Model
  README.md
  README_de.md
  README_es.md
  README_fr.md
  README_hd.md
  README_ja.md
  README_ko.md
  README_pt-br.md
  README_ru.md
  README_te.md
  README_vi.md
  README_zh-hans.md
  README_zh-hant.md
  docs/source/en/_toctree.yml
  docs/source/en/index.md
  docs/source/en/model_doc/dbrx.md
  docs/source/en/perf_infer_gpu_one.md
  docs/source/en/tasks/language_modeling.md
  src/transformers/__init__.py
  src/transformers/models/__init__.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/auto/tokenization_auto.py
  src/transformers/models/dbrx/__init__.py
  src/transformers/models/dbrx/configuration_dbrx.py
  src/transformers/models/dbrx/modeling_dbrx.py
  src/transformers/utils/dummy_pt_objects.py
  templates/adding_a_new_model/README.md
  tests/models/dbrx/__init__.py
  tests/models/dbrx/test_modeling_dbrx.py
Labels: New model

#29937 Update documentation for agents
  docs/source/en/_toctree.yml
  docs/source/en/agents.md
  docs/source/en/custom_tools.md
  docs/source/en/transformers_agents.md
  src/transformers/tools/__init__.py
  src/transformers/tools/agent_types.py
  src/transformers/tools/agents.py
  src/transformers/tools/base.py
  src/transformers/tools/default_tools.py
  src/transformers/tools/image_question_answering.py
  src/transformers/tools/prompts.py
  src/transformers/tools/python_interpreter.py
Labels: Agents

#30254 Improve logging (#3)
  src/transformers/tools/agents.py
  src/transformers/tools/prompts.py
Labels: Agents

#30297 Using variables (#4)
  docs/source/en/agents.md
  src/transformers/tools/agents.py
  src/transformers/tools/prompts.py
Labels: Agents

#30337 Add messages to agents (#5)
  src/transformers/tools/__init__.py
  src/transformers/tools/agents.py
  src/transformers/tools/prompts.py
Labels: Agents

#30435 fix uncaught init of linear layer in clip's/siglip's for image classification models
  src/transformers/models/clip/modeling_clip.py
  src/transformers/models/siglip/modeling_siglip.py
Labels: single-model-run-slow

#30423 Phi-3
  docs/source/en/_toctree.yml
  docs/source/en/index.md
  docs/source/en/model_doc/phi3.md
  docs/source/en/perf_infer_gpu_one.md
  src/transformers/__init__.py
  src/transformers/models/__init__.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/auto/tokenization_auto.py
  src/transformers/models/phi3/__init__.py
  src/transformers/models/phi3/configuration_phi3.py
  src/transformers/models/phi3/modeling_phi3.py
  src/transformers/utils/dummy_pt_objects.py
  tests/models/phi3/__init__.py
  tests/models/phi3/test_modeling_phi3.py
Labels: single-model-run-slow

#30439 Allow boolean FSDP options in fsdp_config
  src/transformers/training_args.py
Labels: PyTorch FSDP

#30540 General PR slow CI
  .github/workflows/self-pr-slow-ci.yml
  utils/pr_slow_ci_models.py
Labels: run-slow
