Repository huggingface/transformers, pull requests merged in 2025-01, with the labels that each got.

#35345 Fix new BNB test failures
  tests/quantization/bnb/test_4bit.py
  tests/quantization/bnb/test_mixed_int8.py
Labels: Quantization

#34083 Add diffllama
  docs/source/en/_toctree.yml
  docs/source/en/index.md
  docs/source/en/model_doc/diffllama.md
  docs/source/en/perf_infer_gpu_one.md
  src/transformers/__init__.py
  src/transformers/models/__init__.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/auto/tokenization_auto.py
  src/transformers/models/diffllama/__init__.py
  src/transformers/models/diffllama/configuration_diffllama.py
  src/transformers/models/diffllama/modeling_diffllama.py
  src/transformers/models/diffllama/modular_diffllama.py
  src/transformers/utils/dummy_pt_objects.py
  tests/models/diffllama/__init__.py
  tests/models/diffllama/test_modeling_diffllama.py
Labels: New model

#34979 Add TextNet
  docs/source/en/_toctree.yml
  docs/source/en/index.md
  docs/source/en/model_doc/textnet.md
  src/transformers/__init__.py
  src/transformers/models/__init__.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/textnet/__init__.py
  src/transformers/models/textnet/configuration_textnet.py
  src/transformers/models/textnet/convert_textnet_to_hf.py
  src/transformers/models/textnet/image_processing_textnet.py
  src/transformers/models/textnet/modeling_textnet.py
  src/transformers/utils/dummy_pt_objects.py
  src/transformers/utils/dummy_vision_objects.py
  tests/models/textnet/__init__.py
  tests/models/textnet/test_image_processing_textnet.py
  tests/models/textnet/test_modeling_textnet.py
  utils/check_repo.py
Labels: New model, Vision, run-slow

#35553 Timm wrapper label names
  src/transformers/models/timm_wrapper/configuration_timm_wrapper.py
  tests/models/timm_wrapper/test_modeling_timm_wrapper.py
Labels: run-slow

#30530 Add ViTPose
  docs/source/en/_toctree.yml
  docs/source/en/index.md
  docs/source/en/model_doc/vitpose.md
  src/transformers/__init__.py
  src/transformers/models/__init__.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/vitpose/__init__.py
  src/transformers/models/vitpose/configuration_vitpose.py
  src/transformers/models/vitpose/convert_vitpose_to_hf.py
  src/transformers/models/vitpose/image_processing_vitpose.py
  src/transformers/models/vitpose/modeling_vitpose.py
  src/transformers/models/vitpose_backbone/__init__.py
  src/transformers/models/vitpose_backbone/configuration_vitpose_backbone.py
  src/transformers/models/vitpose_backbone/modeling_vitpose_backbone.py
  src/transformers/utils/dummy_pt_objects.py
  src/transformers/utils/dummy_vision_objects.py
  tests/models/vitpose/__init__.py
  tests/models/vitpose/test_image_processing_vitpose.py
  tests/models/vitpose/test_modeling_vitpose.py
  tests/models/vitpose_backbone/__init__.py
  tests/models/vitpose_backbone/test_modeling_vitpose_backbone.py
  utils/check_copies.py
  utils/check_repo.py
Labels: New model, Vision, run-slow

#34784 Add Moonshine
  docs/source/en/_toctree.yml
  docs/source/en/index.md
  docs/source/en/model_doc/moonshine.md
  docs/source/en/perf_infer_gpu_one.md
  src/transformers/__init__.py
  src/transformers/models/__init__.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/feature_extraction_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/auto/processing_auto.py
  src/transformers/models/auto/tokenization_auto.py
  src/transformers/models/moonshine/__init__.py
  src/transformers/models/moonshine/configuration_moonshine.py
  src/transformers/models/moonshine/convert_usefulsensors_to_hf.py
  src/transformers/models/moonshine/modeling_moonshine.py
  src/transformers/models/moonshine/modular_moonshine.py
  src/transformers/utils/dummy_pt_objects.py
  tests/models/moonshine/__init__.py
  tests/models/moonshine/test_modeling_moonshine.py
Labels: New model, Audio

#33770 [WIP] Emu3: add model
  docs/source/en/_toctree.yml
  docs/source/en/index.md
  docs/source/en/model_doc/emu3.md
  docs/source/en/perf_infer_gpu_one.md
  src/transformers/__init__.py
  src/transformers/generation/utils.py
  src/transformers/models/__init__.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/auto/processing_auto.py
  src/transformers/models/auto/tokenization_auto.py
  src/transformers/models/chameleon/processing_chameleon.py
  src/transformers/models/emu3/__init__.py
  src/transformers/models/emu3/configuration_emu3.py
  src/transformers/models/emu3/convert_emu3_weights_to_hf.py
  src/transformers/models/emu3/image_processing_emu3.py
  src/transformers/models/emu3/modeling_emu3.py
  src/transformers/models/emu3/modular_emu3.py
  src/transformers/models/emu3/processing_emu3.py
  src/transformers/utils/dummy_pt_objects.py
  src/transformers/utils/dummy_vision_objects.py
  tests/generation/test_utils.py
  tests/models/emu3/__init__.py
  tests/models/emu3/test_modeling_emu3.py
  tests/models/emu3/test_processor_emu3.py
  tests/test_modeling_common.py
  utils/check_config_attributes.py
  utils/check_repo.py
Labels: New model, Multimodal

#35669 Add-helium
  docs/source/en/_toctree.yml
  docs/source/en/index.md
  docs/source/en/model_doc/helium.md
  docs/source/en/perf_infer_gpu_one.md
  src/transformers/__init__.py
  src/transformers/convert_slow_tokenizer.py
  src/transformers/models/__init__.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/auto/tokenization_auto.py
  src/transformers/models/helium/__init__.py
  src/transformers/models/helium/configuration_helium.py
  src/transformers/models/helium/modeling_helium.py
  src/transformers/models/helium/modular_helium.py
  src/transformers/utils/dummy_pt_objects.py
  tests/models/helium/__init__.py
  tests/models/helium/test_modeling_helium.py
Labels: New model

#34603 Clean-up composite configs
  examples/modular-transformers/modeling_new_task_model.py
  src/transformers/modeling_utils.py
  src/transformers/models/aria/modeling_aria.py
  src/transformers/models/aria/modular_aria.py
  src/transformers/models/blip_2/configuration_blip_2.py
  src/transformers/models/clip/modeling_clip.py
  src/transformers/models/emu3/modeling_emu3.py
  src/transformers/models/emu3/modular_emu3.py
  src/transformers/models/fuyu/modeling_fuyu.py
  src/transformers/models/grounding_dino/modeling_grounding_dino.py
  src/transformers/models/idefics2/modeling_idefics2.py
  src/transformers/models/idefics3/modeling_idefics3.py
  src/transformers/models/instructblip/configuration_instructblip.py
  src/transformers/models/instructblipvideo/configuration_instructblipvideo.py
  src/transformers/models/instructblipvideo/modular_instructblipvideo.py
  src/transformers/models/llava/modeling_llava.py
  src/transformers/models/llava_next/modeling_llava_next.py
  src/transformers/models/llava_next_video/modeling_llava_next_video.py
  src/transformers/models/llava_onevision/modeling_llava_onevision.py
  src/transformers/models/mllama/modeling_mllama.py
  src/transformers/models/moshi/modeling_moshi.py
  src/transformers/models/paligemma/modeling_paligemma.py
  src/transformers/models/pix2struct/configuration_pix2struct.py
  src/transformers/models/pix2struct/modeling_pix2struct.py
  src/transformers/models/qwen2_audio/modeling_qwen2_audio.py
  src/transformers/models/speech_encoder_decoder/modeling_speech_encoder_decoder.py
  src/transformers/models/video_llava/modeling_video_llava.py
  src/transformers/models/vipllava/modeling_vipllava.py
  src/transformers/models/vision_encoder_decoder/modeling_vision_encoder_decoder.py
  tests/models/blip_2/test_modeling_blip_2.py
  tests/models/instructblip/test_modeling_instructblip.py
  tests/models/instructblipvideo/test_modeling_instructblipvideo.py
  tests/test_modeling_common.py
Labels: run-slow

#34735 Unable to use `MimiModel` with DeepSpeed ZeRO-3
  src/transformers/models/mimi/modeling_mimi.py
Labels: run-slow

#34937 OmDet Turbo processor standardization
  docs/source/en/model_doc/omdet-turbo.md
  src/transformers/models/omdet_turbo/modeling_omdet_turbo.py
  src/transformers/models/omdet_turbo/processing_omdet_turbo.py
  tests/models/omdet_turbo/test_modeling_omdet_turbo.py
  tests/models/omdet_turbo/test_processor_omdet_turbo.py
Labels: Vision, run-slow, Processing

#34853 Grounding DINO Processor standardization
  docs/source/en/model_doc/grounding-dino.md
  src/transformers/models/grounding_dino/modeling_grounding_dino.py
  src/transformers/models/grounding_dino/processing_grounding_dino.py
  tests/models/grounding_dino/test_modeling_grounding_dino.py
  tests/models/grounding_dino/test_processor_grounding_dino.py
Labels: Vision, run-slow, Processing

#33191 Add LlavaImageProcessor
  docs/source/en/model_doc/llava.md
  src/transformers/__init__.py
  src/transformers/models/auto/image_processing_auto.py
  src/transformers/models/llava/image_processing_llava.py
  src/transformers/models/llava/processing_llava.py
  src/transformers/utils/dummy_vision_objects.py
  tests/models/llava/test_image_processing_llava.py
Labels: Vision, Multimodal, Processing

#35744 [Doc] Adding blog post to model doc for `TimmWrapper`
  docs/source/en/model_doc/timm_wrapper.md
Labels: Documentation, Vision

#35579 Granite Vision Support
  docs/source/en/_toctree.yml
  docs/source/en/model_doc/granitevision.md
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/llava/configuration_llava.py
  src/transformers/models/llava/modeling_llava.py
  src/transformers/models/llava_next/configuration_llava_next.py
  src/transformers/models/llava_next/modeling_llava_next.py
  src/transformers/models/llava_next_video/configuration_llava_next_video.py
  src/transformers/models/llava_next_video/modeling_llava_next_video.py
  src/transformers/models/llava_next_video/modular_llava_next_video.py
  src/transformers/models/llava_onevision/configuration_llava_onevision.py
  src/transformers/models/llava_onevision/modeling_llava_onevision.py
  src/transformers/models/video_llava/configuration_video_llava.py
  src/transformers/models/video_llava/modeling_video_llava.py
  src/transformers/models/vipllava/configuration_vipllava.py
  src/transformers/models/vipllava/modeling_vipllava.py
  tests/models/llava/test_modeling_llava.py
  tests/models/llava_next/test_modeling_llava_next.py
  tests/models/llava_next_video/test_modeling_llava_next_video.py
  tests/models/llava_onevision/test_modeling_llava_onevision.py
  tests/models/video_llava/test_modeling_video_llava.py
  tests/models/vipllava/test_modeling_vipllava.py
Labels: New model, Multimodal

#35892 Fix fast image processor warnings in object detection examples
  examples/pytorch/object-detection/run_object_detection.py
  examples/pytorch/object-detection/run_object_detection_no_trainer.py
Labels: Vision, Processing

#34721 Add GOT-OCR 2.0 to Transformers
  docs/source/en/_toctree.yml
  docs/source/en/index.md
  docs/source/en/model_doc/got_ocr2.md
  docs/source/en/perf_infer_gpu_one.md
  src/transformers/__init__.py
  src/transformers/models/__init__.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/image_processing_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/auto/processing_auto.py
  src/transformers/models/got_ocr2/__init__.py
  src/transformers/models/got_ocr2/configuration_got_ocr2.py
  src/transformers/models/got_ocr2/convert_got_ocr2_weights_to_hf.py
  src/transformers/models/got_ocr2/image_processing_got_ocr2.py
  src/transformers/models/got_ocr2/modeling_got_ocr2.py
  src/transformers/models/got_ocr2/modular_got_ocr2.py
  src/transformers/models/got_ocr2/processing_got_ocr2.py
  src/transformers/models/llava/modeling_llava.py
  src/transformers/utils/dummy_pt_objects.py
  src/transformers/utils/dummy_vision_objects.py
  tests/generation/test_utils.py
  tests/models/got_ocr2/__init__.py
  tests/models/got_ocr2/test_image_processing_got_ocr2.py
  tests/models/got_ocr2/test_modeling_got_ocr2.py
  tests/models/got_ocr2/test_processor_got_ocr2.py
  tests/models/qwen2_vl/test_modeling_qwen2_vl.py
Labels: New model, Multimodal, run-slow
