Repository huggingface/transformers, pull requests merged in 2025-04, with the labels that each got.

#36781 Use public export API on torch 2.5 and future
  src/transformers/integrations/executorch.py
Labels: torch export

#36981 Refactor attention for SigLIP based models
  src/transformers/models/emu3/modeling_emu3.py
  src/transformers/models/emu3/modular_emu3.py
  src/transformers/models/idefics2/modeling_idefics2.py
  src/transformers/models/idefics3/modeling_idefics3.py
  src/transformers/models/phi4_multimodal/modeling_phi4_multimodal.py
  src/transformers/models/siglip/modeling_siglip.py
  src/transformers/models/siglip2/modeling_siglip2.py
  src/transformers/models/smolvlm/modeling_smolvlm.py
  tests/models/idefics2/test_modeling_idefics2.py
  tests/models/siglip/test_modeling_siglip.py
  tests/models/siglip2/test_modeling_siglip2.py
  tests/test_modeling_common.py
Labels: Vision, Multimodal

#37307 Add llama4
  docs/source/en/_toctree.yml
  docs/source/en/model_doc/llama4.md
  src/transformers/__init__.py
  src/transformers/cache_utils.py
  src/transformers/configuration_utils.py
  src/transformers/generation/configuration_utils.py
  src/transformers/generation/utils.py
  src/transformers/integrations/__init__.py
  src/transformers/integrations/compressed_tensors.py
  src/transformers/integrations/fbgemm_fp8.py
  src/transformers/integrations/flex_attention.py
  src/transformers/integrations/sdpa_attention.py
  src/transformers/integrations/tensor_parallel.py
  src/transformers/modeling_utils.py
  src/transformers/models/__init__.py
  src/transformers/models/auto/auto_factory.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/image_processing_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/auto/processing_auto.py
  src/transformers/models/auto/tokenization_auto.py
  src/transformers/models/llama4/__init__.py
  src/transformers/models/llama4/configuration_llama4.py
  src/transformers/models/llama4/convert_llama4_weights_to_hf.py
  src/transformers/models/llama4/image_processing_llama4_fast.py
  src/transformers/models/llama4/modeling_llama4.py
  src/transformers/models/llama4/processing_llama4.py
  src/transformers/pipelines/base.py
  src/transformers/processing_utils.py
  src/transformers/pytorch_utils.py
  src/transformers/quantizers/base.py
  src/transformers/quantizers/quantizer_compressed_tensors.py
  src/transformers/quantizers/quantizer_fbgemm_fp8.py
  src/transformers/tokenization_utils_base.py
  src/transformers/utils/dummy_pt_objects.py
  src/transformers/utils/dummy_torchvision_objects.py
  src/transformers/utils/dummy_vision_objects.py
  tests/models/llama4/__init__.py
  tests/models/llama4/test_image_processing_llama4.py
  tests/models/llama4/test_modeling_llama4.py
  tests/models/llama4/test_processor_llama4.py
  utils/check_config_attributes.py
  utils/check_docstrings.py
  utils/check_dummies.py
  utils/check_repo.py
Labels: New model, Tensor Parallel

#37324 Fix deepspeed with quantization
  src/transformers/modeling_utils.py
Labels: for patch

#37337 Fix `init empty weights` without accelerate
  src/transformers/integrations/accelerate.py
  src/transformers/modeling_utils.py
Labels: for patch

#37347 Remove HQQ from caching allocator warmup
  src/transformers/modeling_utils.py
Labels: for patch

#37285 Fixing flex attention for torch=2.6.0
  src/transformers/integrations/flex_attention.py
Labels: for patch

#37388 Add glm4
  docs/source/en/_toctree.yml
  docs/source/en/model_doc/glm4.md
  src/transformers/__init__.py
  src/transformers/models/__init__.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/auto/tokenization_auto.py
  src/transformers/models/glm4/__init__.py
  src/transformers/models/glm4/configuration_glm4.py
  src/transformers/models/glm4/convert_glm4_weights_to_hf.py
  src/transformers/models/glm4/modeling_glm4.py
  src/transformers/models/glm4/modular_glm4.py
  src/transformers/utils/dummy_pt_objects.py
  tests/models/glm4/__init__.py
  tests/models/glm4/test_modeling_glm4.py
Labels: New model

#37384 Attention Quantization with FBGemm & TP
  src/transformers/integrations/fbgemm_fp8.py
  src/transformers/integrations/tensor_parallel.py
  src/transformers/quantizers/base.py
  src/transformers/quantizers/quantizer_fbgemm_fp8.py
Labels: for patch

#37370 the fix that did not get in
  src/transformers/cache_utils.py
  src/transformers/generation/utils.py
  src/transformers/integrations/flex_attention.py
  src/transformers/models/llama4/modeling_llama4.py
Labels: for patch

#37416 mark llama4 as not supported with fa2
  src/transformers/models/llama4/modeling_llama4.py
Labels: for patch

#37418 use `rms_norm_eps` for the L2Norm for Llama4
  src/transformers/models/llama4/modeling_llama4.py
Labels: for patch

#37376 Add moe kernels
  src/transformers/integrations/hub_kernels.py
  src/transformers/models/llama4/modeling_llama4.py
Labels: Kernel Fusion, kernels

#36752 Add Qwen2.5-Omni
  docs/source/en/_toctree.yml
  docs/source/en/model_doc/qwen2_5_omni.md
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/auto/processing_auto.py
  src/transformers/models/auto/tokenization_auto.py
  src/transformers/models/glm4/modeling_glm4.py
  src/transformers/models/mimi/modeling_mimi.py
  src/transformers/models/mistral/modeling_mistral.py
  src/transformers/models/mistral/modular_mistral.py
  src/transformers/models/mixtral/modeling_mixtral.py
  src/transformers/models/moshi/modeling_moshi.py
  src/transformers/models/phi3/modeling_phi3.py
  src/transformers/models/phi4_multimodal/modeling_phi4_multimodal.py
  src/transformers/models/phimoe/modeling_phimoe.py
  src/transformers/models/qwen2/modeling_qwen2.py
  src/transformers/models/qwen2_5_omni/__init__.py
  src/transformers/models/qwen2_5_omni/configuration_qwen2_5_omni.py
  src/transformers/models/qwen2_5_omni/modeling_qwen2_5_omni.py
  src/transformers/models/qwen2_5_omni/modular_qwen2_5_omni.py
  src/transformers/models/qwen2_5_omni/processing_qwen2_5_omni.py
  src/transformers/models/qwen2_5_vl/modeling_qwen2_5_vl.py
  src/transformers/models/qwen2_audio/configuration_qwen2_audio.py
  src/transformers/models/qwen2_audio/modeling_qwen2_audio.py
  src/transformers/models/qwen2_moe/modeling_qwen2_moe.py
  src/transformers/models/qwen2_vl/modeling_qwen2_vl.py
  src/transformers/models/qwen3/modeling_qwen3.py
  src/transformers/models/qwen3_moe/modeling_qwen3_moe.py
  src/transformers/models/starcoder2/modeling_starcoder2.py
  tests/generation/test_utils.py
  tests/models/qwen2_5_omni/__init__.py
  tests/models/qwen2_5_omni/test_modeling_qwen2_5_omni.py
  tests/models/qwen2_5_omni/test_processor_qwen2_5_omni.py
  tests/test_processing_common.py
  utils/check_repo.py
Labels: New model

#36182 Add MLCD model
  docs/source/en/_toctree.yml
  docs/source/en/model_doc/mlcd.md
  src/transformers/models/__init__.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/image_processing_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/mlcd/__init__.py
  src/transformers/models/mlcd/configuration_mlcd.py
  src/transformers/models/mlcd/convert_mlcd_weights_to_hf.py
  src/transformers/models/mlcd/modeling_mlcd.py
  src/transformers/models/mlcd/modular_mlcd.py
  tests/models/mlcd/__init__.py
  tests/models/mlcd/test_modeling_mlcd.py
  utils/check_docstrings.py
Labels: New model, Vision

#37071 Add Fast Conditional-DETR Processor
  docs/source/en/model_doc/conditional_detr.md
  docs/source/ja/model_doc/conditional_detr.md
  src/transformers/models/auto/image_processing_auto.py
  src/transformers/models/conditional_detr/__init__.py
  src/transformers/models/conditional_detr/image_processing_conditional_detr_fast.py
  src/transformers/models/conditional_detr/modular_conditional_detr.py
  tests/models/conditional_detr/test_image_processing_conditional_detr.py
Labels: Vision, Processing

#34082 Add TimesFM Time Series Forecasting Model
  docs/source/en/_toctree.yml
  docs/source/en/model_doc/timesfm.md
  src/transformers/models/__init__.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/timesfm/__init__.py
  src/transformers/models/timesfm/configuration_timesfm.py
  src/transformers/models/timesfm/convert_timesfm_orignal_to_hf.py
  src/transformers/models/timesfm/modeling_timesfm.py
  src/transformers/models/timesfm/modular_timesfm.py
  tests/models/timesfm/__init__.py
  tests/models/timesfm/test_modeling_timesfm.py
  utils/check_repo.py
Labels: New model

#36053 Add Janus model
  docs/source/en/_toctree.yml
  docs/source/en/model_doc/janus.md
  src/transformers/models/__init__.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/image_processing_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/auto/processing_auto.py
  src/transformers/models/auto/tokenization_auto.py
  src/transformers/models/chameleon/modeling_chameleon.py
  src/transformers/models/janus/__init__.py
  src/transformers/models/janus/configuration_janus.py
  src/transformers/models/janus/convert_janus_weights_to_hf.py
  src/transformers/models/janus/image_processing_janus.py
  src/transformers/models/janus/modeling_janus.py
  src/transformers/models/janus/modular_janus.py
  src/transformers/models/janus/processing_janus.py
  tests/generation/test_utils.py
  tests/models/janus/__init__.py
  tests/models/janus/test_image_processing_janus.py
  tests/models/janus/test_modeling_janus.py
  tests/models/janus/test_processor_janus.py
  utils/check_repo.py
Labels: New model

#35968 Add InternVL (2.5 MPO)
  docs/source/en/_toctree.yml
  docs/source/en/model_doc/internvl.md
  docs/source/en/perf_infer_gpu_one.md
  src/transformers/image_utils.py
  src/transformers/models/__init__.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/auto/processing_auto.py
  src/transformers/models/auto/tokenization_auto.py
  src/transformers/models/internvl/__init__.py
  src/transformers/models/internvl/configuration_internvl.py
  src/transformers/models/internvl/convert_internvl_weights_to_hf.py
  src/transformers/models/internvl/modeling_internvl.py
  src/transformers/models/internvl/modular_internvl.py
  src/transformers/models/internvl/processing_internvl.py
  tests/generation/test_utils.py
  tests/models/internvl/__init__.py
  tests/models/internvl/test_modeling_internvl.py
  tests/models/internvl/test_processor_internvl.py
  utils/check_repo.py
Labels: New model

#35147 Samhq model addition
  docs/source/en/_toctree.yml
  docs/source/en/model_doc/sam_hq.md
  src/transformers/models/__init__.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/image_processing_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/auto/processing_auto.py
  src/transformers/models/sam_hq/__init__.py
  src/transformers/models/sam_hq/configuration_sam_hq.py
  src/transformers/models/sam_hq/convert_samhq_to_hf.py
  src/transformers/models/sam_hq/modeling_sam_hq.py
  src/transformers/models/sam_hq/modular_sam_hq.py
  src/transformers/models/sam_hq/processing_samhq.py
  src/transformers/pipelines/mask_generation.py
  tests/models/sam_hq/__init__.py
  tests/models/sam_hq/test_modeling_sam_hq.py
  tests/models/sam_hq/test_processor_samhq.py
  utils/check_config_attributes.py
  utils/check_copies.py
  utils/check_docstrings.py
  utils/check_repo.py
  utils/not_doctested.txt
Labels: New model, Vision, run-slow

#36261 Add D-FINE Model into Transformers
  docs/source/en/_toctree.yml
  docs/source/en/model_doc/d_fine.md
  docs/source/en/model_doc/hgnet_v2.md
  src/transformers/loss/loss_d_fine.py
  src/transformers/loss/loss_utils.py
  src/transformers/models/__init__.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/d_fine/__init__.py
  src/transformers/models/d_fine/configuration_d_fine.py
  src/transformers/models/d_fine/convert_d_fine_original_pytorch_checkpoint_to_hf.py
  src/transformers/models/d_fine/modeling_d_fine.py
  src/transformers/models/d_fine/modular_d_fine.py
  src/transformers/models/hgnet_v2/__init__.py
  src/transformers/models/hgnet_v2/configuration_hgnet_v2.py
  src/transformers/models/hgnet_v2/modeling_hgnet_v2.py
  src/transformers/models/hgnet_v2/modular_hgnet_v2.py
  src/transformers/models/rt_detr/modeling_rt_detr.py
  src/transformers/models/rt_detr_v2/modeling_rt_detr_v2.py
  tests/models/d_fine/__init__.py
  tests/models/d_fine/test_modeling_d_fine.py
  tests/models/hgnet_v2/__init__.py
  tests/models/hgnet_v2/test_modeling_hgnet_v2.py
  utils/check_config_attributes.py
Labels: New model, Vision

#34563 uniformize kwargs for VisionTextDualEncoder
  src/transformers/models/vision_text_dual_encoder/processing_vision_text_dual_encoder.py
Labels: Processing

#37732 Support FlaxPreTrainedModel to load model checkpoint from local subfolder safetensors
  src/transformers/modeling_flax_utils.py
Labels: Flax
