Repository huggingface/transformers, pull requests merged in 2025-06, with the labels that each got.

#37402 [flax/mistral] support sliding_window: null in config
  src/transformers/models/mistral/modeling_flax_mistral.py
Labels: Flax

#35831 Add support for MiniMax's MiniMax-Text-01
  docs/source/en/_toctree.yml
  docs/source/en/model_doc/minimax.md
  src/transformers/configuration_utils.py
  src/transformers/generation/utils.py
  src/transformers/models/__init__.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/auto/tokenization_auto.py
  src/transformers/models/minimax/__init__.py
  src/transformers/models/minimax/configuration_minimax.py
  src/transformers/models/minimax/modeling_minimax.py
  src/transformers/models/minimax/modular_minimax.py
  tests/models/minimax/__init__.py
  tests/models/minimax/test_modeling_minimax.py
  tests/test_modeling_common.py
Labels: New model

#38582 feat: add `repository` field to benchmarks table
  .github/workflows/benchmark.yml
  benchmark/benchmarks_entrypoint.py
  benchmark/init_db.sql
  benchmark/llama.py
Labels: run-benchmark

#38860 Add kwargs for timm.create_model in TimmWrapper
  src/transformers/models/timm_wrapper/configuration_timm_wrapper.py
  src/transformers/models/timm_wrapper/modeling_timm_wrapper.py
  tests/models/timm_wrapper/test_modeling_timm_wrapper.py
Labels: Vision

#38143 [Model] add dots1
  docs/source/en/_toctree.yml
  docs/source/en/model_doc/dots1.md
  src/transformers/models/__init__.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/dots1/__init__.py
  src/transformers/models/dots1/configuration_dots1.py
  src/transformers/models/dots1/modeling_dots1.py
  src/transformers/models/dots1/modular_dots1.py
  tests/models/dots1/__init__.py
  tests/models/dots1/test_modeling_dots1.py
  utils/check_config_attributes.py
Labels: New model

#37610 ✨ Add EoMT Model || 🚨 Fix Mask2Former loss calculation
  docs/source/en/_toctree.yml
  docs/source/en/model_doc/eomt.md
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/image_processing_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/eomt/__init__.py
  src/transformers/models/eomt/configuration_eomt.py
  src/transformers/models/eomt/convert_eomt_to_hf.py
  src/transformers/models/eomt/image_processing_eomt.py
  src/transformers/models/eomt/image_processing_eomt_fast.py
  src/transformers/models/eomt/modeling_eomt.py
  src/transformers/models/eomt/modular_eomt.py
  src/transformers/models/mask2former/modeling_mask2former.py
  tests/models/eomt/__init__.py
  tests/models/eomt/test_image_processing_eomt.py
  tests/models/eomt/test_modeling_eomt.py
Labels: New model, Vision

#39083 Fix: unprotected import of tp plugin
  src/transformers/trainer.py
Labels: for patch
